<style>
    #productTable td { max-width: 150px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
    #productTable td input { max-width: 125px; }
</style>

<div ng-controller="productCtrl" class="partial-view" ng-init="formdetails = 'question'; $parent.formdetail = 'bamper';">
    <div id="loader-wrapper" ng-if="loading">
        <div id="loader"></div>
    </div>
    <div class="alert alert-success" id="a-request-edit" style="position:fixed;bottom:0;right:0;display:none;">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Поздравляем! </strong>
        Вы обновили {{updatedRequest.name}}
    </div>
    <div class="alert alert-danger" id="a-request-delete" style="position:fixed;bottom:0;right:0;display:none;">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Ого! </strong>
        Вы удалили {{updatedRequest.name}}
    </div>
    <div class="alert alert-success" id="a-request-complete" style="position:fixed;bottom:0;right:0;display:none;">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Поздравляем! </strong>
        Вы завершили заявку {{updatedRequest.name}}!
    </div>
    <div class="alert alert-success" id="a-request-restore" style="position:fixed;bottom:0;right:0;display:none;">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Поздравляем! </strong>
        Вы возобновили заявку {{updatedRequest.name}}!
    </div>
  <div class="panel panel-info" ng-if="!allitems && !startEdit">
    <div class="panel-heading" role="tab" id="headingTwo">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <h4 class="panel-title">
          Ответы
          </h4>
        </a>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
        <div class="container-fluid">
            <div class="row row-title">
                <div class="col-lg-3">
                    Название компании
                </div>
                <div class="col-lg-3">
                    Имя заявки
                </div>
                <div class="col-lg-3">
                    Стоимость
                </div>
                <div class="col-lg-3">
                    Длительность
                </div>
            </div>
            <div class="row row-hover" ng-repeat="item in activeresponds" ng-class="{'bg-success': item.approved}">
                <div class="col-lg-3" ng-click="toogleAutoservice[$index] = !toogleAutoservice[$index];">
                    <a target="_blank" href="http://{{item.autoservice.site}}">{{item.autoservice.name}}</a>
                </div>
                <div class="col-lg-3" ng-click="toogleAutoservice[$index] = !toogleAutoservice[$index];">
                    {{item.name}}
                </div>
                <div class="col-lg-3" ng-click="toogleAutoservice[$index] = !toogleAutoservice[$index];">
                    {{item.cost | currency}}
                </div>
                <div class="col-lg-2" ng-click="toogleAutoservice[$index] = !toogleAutoservice[$index];">
                    {{item.duration}}ч.
                </div>
                <div class="col-lg-1 toogle-action">
                    <button ng-class="{'btn-success': (!item.approved),'btn-danger': (item.approved)}" ng-click="approveItem(item,item.autoservice)" class="btn btn-xs btn-icons">
                                <span ng-if="!item.approved">Принять</span>
                                <span ng-if="item.approved">Отклонить</span>
                    </button>
                </div>
                <div class="col-lg-12" ng-if="toogleAutoservice[$index]">
                    {{item.description}}
                </div>
            </div> 
        </div>
  </div>
</div>
    <table id="productTable" class="table table-hover table-responsive" ng-if="allitems" >
        <tr class="sort-names">
            <th><a href="" ng-click="order('type')">Тип <i class="fa" ng-show="predicate === 'type'" ng-class="{'fa-sort-asc':!reverse, 'fa-sort-desc':reverse}"></i><i class="fa fa-sort" ng-show="predicate != 'type'" ></i></a></th>

            <th><a href="" ng-click="order('name')">Номер заявки <i class="fa" ng-show="predicate === 'name'" ng-class="{'fa-sort-asc':!reverse, 'fa-sort-desc':reverse}"></i><i class="fa fa-sort" ng-show="predicate != 'name'" ></i> </a></th>

            <th><a href="" ng-click="order('auto.name')">Автомобиль <i class="fa" ng-show="predicate === 'auto.name'" ng-class="{'fa-sort-asc':!reverse, 'fa-sort-desc':reverse}"></i><i class="fa fa-sort" ng-show="predicate != 'auto.name'" ></i></a></th>
            <th><a href="" ng-click="order('details.comment')">Комментарий <i class="fa" ng-show="predicate === 'details.comment'" ng-class="{'fa-sort-asc':!reverse, 'fa-sort-desc':reverse}"></i><i class="fa fa-sort" ng-show="predicate != 'details.comment'" ></i></a></th>
            <th><a href="" ng-click="order('responds.length')">Кол-во откликов <i class="fa" ng-show="predicate === 'responds.length'" ng-class="{'fa-sort-asc':!reverse, 'fa-sort-desc':reverse}"></i><i class="fa fa-sort" ng-show="predicate != 'responds.length'" ></i></a></th>

            <th><a href="" ng-click="order('date')">Время <i class="fa" ng-show="predicate === 'date'" ng-class="{'fa-sort-asc':!reverse, 'fa-sort-desc':reverse}"></i><i class="fa fa-sort" ng-show="predicate != 'date'" ></i></a></th>
            <th class="relative-wrap"> 
                <div class="absolute-wrap search-wrap">
                    <div class="input-group search-form input-group-xs">
                      <input type="text" class="form-control" ng-model="query" placeholder="Поиск">
                      <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    </div>
                </div>
            </th>
        </tr>
        <tr ng-repeat="item in products | filter:query | orderBy:predicate:reverse" ng-class="{'success':item.completed}" >
            <td ng-click="viewItem(item)">{{item.type}}</td>
            <td ng-click="viewItem(item)">{{item.name}}</td>
            <td ng-click="viewItem(item)">{{item.auto.name}}</td>
            <td ng-click="viewItem(item)" class="details">{{item.details.comment}}</td>
            <td ng-click="viewItem(item)" class="amount-responds"><span>{{item.responds.length}}</span></td>
            <td ng-click="viewItem(item)" class="date">{{formatDate(item.date)}}</td>
            <td class="active-buttons">
                <button ng-click="viewItem(item)" class="btn" data-toggle="tooltip" title="Посмотреть">
                    <i class="eye"></i>
                </button>
                <button ng-click="editItem(item)" ng-disabled="item.responds.length > 0" class="btn" data-toggle="tooltip" title="Изменить">
                    <i class="edit"></i>
                </button>
                <button ng-click="isdeleteProduct(item)" class="btn" data-toggle="tooltip" title="Удалить">
                    <i class="del"></i>
                </button>
                <button ng-click="completeItem(item,item.type,item.auto,item.responds)" class="btn" data-toggle="tooltip" title="Завершить">
                    <i class="play" ng-if="!item.completed"></i>
                    <i class="stop" ng-if="item.completed"></i>
                </button>
            </td>
        </tr>
    </table>
    <div class="row" id="singleTable" class="table table-striped table-bordered table-hover" ng-if="!allitems">
        <div class="container-fluid">
            <button ng-click="viewItem(item)" class="btn btn-xs btn-primary btn-icons">
                        <i class="fa fa-arrow-left"></i>
            </button>
            <div class="panel panel-info" ng-if="!startEdit">
              <div class="panel-heading">
                <h2 class="panel-title">Данные автомобиля</h2>
              </div>
              <div class="row autodescription container-fluid">
                <div class="col-md-4"><label>Имя</label><div>{{mainproduct.auto.name || 'нету'}}</div> </div>
                <div class="col-md-4"><label>Марка</label><div>{{mainproduct.auto.mark || 'нету'}}</div> </div>
                <div class="col-md-4"><label>Модель</label><div>{{mainproduct.auto.model || 'нету'}}</div> </div>
                <div class="col-md-4"><label>Поколение</label><div>{{mainproduct.auto.generation || 'нету'}}</div> </div>
                <div class="col-md-4"><label>Год</label><div>{{mainproduct.auto.year || 'нету'}}</div> </div>
                <div class="col-md-4"><label>Тип двигателя</label><div>{{mainproduct.auto.engine || 'нету'}}</div> </div>
                <div class="col-md-4"><label>Коробка</label><div>{{mainproduct.auto.box || 'нету'}}</div> </div>
                <div class="col-md-4"><label>Мощность</label><div>{{mainproduct.auto.body || '0'}} л.с.</div> </div>
                <div class="col-md-4"><label>Объем двигателя</label><div>{{mainproduct.auto.volume || '0'}} л.</div> </div>
                <div class="col-md-4"><label>Цвет</label><div>{{mainproduct.auto.color || 'нету'}}</div> </div>
                <div class="col-md-4"><label>Привод</label><div>{{mainproduct.auto.drive || 'нету'}}</div> </div>
                <div class="col-md-4"><label>Пробег</label><div>{{mainproduct.auto.mileage || '0'}} км</div> </div>
                <div class="col-md-4"><label>Vin</label><div>{{mainproduct.auto.vin || 'нету'}}</div> </div>
                </div>
            </div>
            <div class="panel panel-info" ng-if="startEdit">
                <div class="panel-heading">
                <h2 class="panel-title">Автомобиль</h2>
              </div>
              <div class="panel-body">
                <form name="authForm" novalidate>
                    <div class="form-group">
                        <label>Выберите автомобиль</label>
                        <select class="form-control" ng-model="mainproduct.auto" ng-options="auto.name for auto in autos"></select>
                    </div>
                </form>
            </div>
            </div>
        </div>
        <div class="container-fluid" ng-if="mainproduct.type == 'Заявка на ТО'">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h2 class="panel-title">Заявка на ТО</h2>
              </div>
              <div class="panel-body">
                    <form name="workForm" novalidate>
                        <div class="form-group"><label>Название:</label><input ng-disabled="!startEdit" class="form-control" type="text" ng-model="mainproduct.name" /></div>
                        <div class="form-group"><label>Описание:</label><input ng-disabled="!startEdit" class="form-control" type="text" ng-model="mainproduct.description" /></div>
                        <div class="form-group row">
                            <ul class="checkbox-grid">
                            <li>             
                                <input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.ownparts" />
                                <label>Свои запчасти</label>
                            </li>
                            <li>
                                <input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.onguaranty" />
                                <label>Автомобиль на гарантии</label>
                            </li>
                            <li ng-repeat="item in texts.work">
                                <input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.work[$index]" />
                                <label>{{item}}</label>
                            </li>
                            </ul>
                        </div>
                        <div class="form-group comment-area"><label>Комментарий:</label><textarea ng-disabled="!startEdit" class="form-control" ng-model="mainproduct.details.comment" placeholder="Расскажите подробнее о том, что у вас случилось" rows="5"> </textarea></div>
                        <div ng-if="startEdit" class="text-center bottom-button">
                            <button type="submit" ng-click="updateProduct(mainproduct)"
                                    class="btn btn-primary">
                                Обновить
                            </button>
                        </div>
                    </form>
              </div>
            </div>
        </div>
        <div class="container-fluid" ng-if="mainproduct.type == 'Заявка на Ремонт'">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h2 class="panel-title">Заявка на ремонт</h2>
          </div>
          <div class="panel-body">
                <form name="workForm" novalidate>
                    <div class="form-group">
                        <label>Название:</label>
                        <input ng-disabled="!startEdit" class="form-control" type="text" ng-model="mainproduct.name" />
                    </div>
                    <div class="form-group">
                        <label>Описание:</label>
                        <input ng-disabled="!startEdit" class="form-control" type="text" ng-model="mainproduct.description" />
                    </div>
                    <div class="form-group">
                        <label>Опишите неисправность:</label>
                        <input ng-disabled="!startEdit" class="form-control" type="textarea" ng-model="mainproduct.details.mainbody" />
                    </div>

                    <div class="form-group row">
                        <ul class="checkbox-grid">
                        <li>             
                            <input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.ownparts" />
                            <label>Свои запчасти</label>
                        </li>
                        <li>
                            <input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.onguaranty" />
                            <label>Автомобиль на гарантии</label>
                        </li>
                        </ul>
                    </div>
                    <div class="panel-body panel-info tabs-left">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active" role="presentation">
                                <a ng-click="formdetails = 'question'" aria-controls="question" role="tab" data-toggle="tab" aria-expanded="true">Частые вопросы</a>
                            </li>
                            <li role="presentation">
                                <a ng-click="formdetails = 'diagnos'" aria-controls="diagnos" role="tab" data-toggle="tab">Диагностика</a>
                            </li>
                            <li role="presentation">
                                <a ng-click="formdetails = 'engine'" aria-controls="engine" role="tab" data-toggle="tab">Двигатель</a>
                            </li>
                            <li role="presentation">
                                <a ng-click="formdetails = 'head'" aria-controls="head" role="tab" data-toggle="tab">Подвеска и ходовая часть</a>
                            </li>
                            <li role="presentation">
                                <a ng-click="formdetails = 'wheel'" aria-controls="wheel" role="tab" data-toggle="tab">Рулевое управление и коробка передач</a>
                            </li>
                            <li role="presentation">
                                <a ng-click="formdetails = 'addi'" aria-controls="addi" role="tab" data-toggle="tab">Дополнительное оборудование</a>
                            </li>           
                        </ul>
                       <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" ng-if="formdetails == 'question'">
                                <div class="form-group row">
                                    <ul class="checkbox-grid">
                                        <li ng-repeat="item in texts.question">
                                            <input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.question[$index]" />
                                            <label>{{item}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane active" ng-if="formdetails == 'diagnos'">
                                <div class="form-group row">
                                    <ul class="checkbox-grid">
                                        <li ng-repeat="item in texts.diagnos">
                                            <input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.diagnos[$index]" />
                                            <label>{{item}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane active" ng-if="formdetails == 'engine'">
                                <div class="form-group row">
                                    <ul class="checkbox-grid">
                                        <li ng-repeat="item in texts.engine">
                                            <input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.engine[$index]" />
                                            <label>{{item}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane active" ng-if="formdetails == 'head'">
                                <div class="form-group row">
                                    <ul class="checkbox-grid">
                                        <li ng-repeat="item in texts.head">
                                            <input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.head[$index]" />
                                            <label>{{item}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane active" ng-if="formdetails == 'wheel'">
                                <div class="form-group row">
                                    <ul class="checkbox-grid">
                                        <li ng-repeat="item in texts.wheel">
                                            <input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.wheel[$index]" />
                                            <label>{{item}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane active" ng-if="formdetails == 'addi'">
                                <div class="form-group row">
                                    <ul class="checkbox-grid">
                                        <li ng-repeat="item in texts.addi">
                                            <input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.addi[$index]" />
                                            <label>{{item}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                      </div>
                    </div>
                    <div class="form-group comment-area"><label>Комментарий:</label><textarea ng-disabled="!startEdit" class="form-control" ng-model="mainproduct.details.comment" placeholder="Расскажите подробнее о том, что у вас случилось" rows="5"> </textarea></div>
                    <div ng-if="startEdit" class="text-center bottom-button">
                        <button type="submit" ng-click="updateProduct(mainproduct)"
                                class="btn btn-primary">
                            Обновить
                        </button>
                    </div>
                </form>
          </div>
        </div>
        </div>
        <div class="container-fluid" ng-if="mainproduct.type == 'Кузовные работы'">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h2 class="panel-title">Кузовные работы</h2>
          </div>
          <div class="panel-body">
                <form name="workForm" novalidate>
                    <div class="form-group">
                        <label>Название:</label>
                        <input ng-disabled="!startEdit" class="form-control" type="text" ng-model="mainproduct.name" />
                    </div>
                    <div class="form-group">
                        <label>Описание:</label>
                        <input ng-disabled="!startEdit" class="form-control" type="text" ng-model="mainproduct.description" />
                    </div>
                    <div class="form-group">
                        <label>Опишите неисправность:</label>
                        <input ng-disabled="!startEdit" class="form-control" type="textarea" ng-model="mainproduct.details.mainbody" />
                    </div>
                    <div class="form-group row">
                        <ul class="checkbox-grid">
                        <li>             
                            <input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.ownparts" />
                            <label>Свои запчасти</label>
                        </li>
                        <li>
                            <input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.onguaranty" />
                            <label>Автомобиль на гарантии</label>
                        </li>
                        </ul>
                    </div>
                    <div class="panel-body panel-info tabs-left">
                        <ul class="nav nav-tabs" role="tablist">
                            <li ng-class="{'active': $index == 0}" ng-repeat="item in texts.destructions" role="presentation">
                                <a ng-click="$parent.formdetail = item.eng" aria-controls="{{item.eng}}" role="tab" data-toggle="tab" aria-expanded="true">{{item.title}}</a>
                            </li>           
                        </ul>
                       <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" ng-show="$parent.formdetail == item.eng" ng-repeat="item in texts.destructions" ng-init="parentIndex = $index" >
                                <div class="form-group row">
                                    <ul class="checkbox-grid">
                                        <li ng-repeat="ite in item.data">
                                            <input ng-disabled="!startEdit" ng-disabled="startEdit" type="checkbox" ng-model="mainproduct.details.destructions[parentIndex][$index]" />
                                            <label>{{ite}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                      </div>
                    </div>
                    <div class="form-group comment-area"><label>Комментарий:</label><textarea ng-disabled="!startEdit" class="form-control" ng-model="mainproduct.details.comment" placeholder="Расскажите подробнее о том, что у вас случилось" rows="5"> </textarea></div>
                    <div class="form-group">
                        <label>Фотография</label>
                        <img data-ng-src="data:image/png;base64,{{mainproduct.details.image.base64}}" ng-click="changepicture=true" data-err-src="avatar.png"/>
                        <input ng-if="startEdit && changepicture" type='file' ng-model='mainproduct.details.image' base-sixty-four-input>
                    </div>
                    <div ng-if="startEdit" class="text-center bottom-button">
                        <button type="submit" ng-click="updateProduct(mainproduct)"
                                class="btn btn-primary">
                            Обновить
                        </button>
                    </div>
                </form>
          </div>
        </div>
        </div>
    </div>
</div>
