<style>
    #productTable td { max-width: 150px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
    #productTable td input { max-width: 125px; }
</style>

<div ng-controller="productCtrl" class="partial-view">
    <ng-spinner></ng-spinner>
    <div class="alert alert-success" id="a-request-edit" style="position:fixed;bottom:0;right:0;display:none;">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Поздравляем! </strong>
        Вы обновили {{updatedRequest.name}}
    </div>
    <div class="alert alert-danger" id="a-request-delete" style="position:fixed;bottom:0;right:0;display:none;">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Ого! </strong>
        Вы удалили {{updatedRequest.name}}
    </div>
    <div class="alert alert-success" id="a-request-complete" style="position:fixed;bottom:0;right:0;display:none;">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Поздравляем! </strong>
        Вы завершили заявку {{updatedRequest.name}}!
    </div>
    <div class="alert alert-success" id="a-request-restore" style="position:fixed;bottom:0;right:0;display:none;">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Поздравляем! </strong>
        Вы возобновили заявку {{updatedRequest.name}}!
    </div>

    <table id="productTable" class="table table-hover table-responsive mobile-request-hide" ng-if="allitems" >
        <tr class="sort-names">
            <th><a href="" ng-click="order('type')">Тип <i class="fa" ng-show="predicate === 'type'" ng-class="{'fa-sort-asc':!reverse, 'fa-sort-desc':reverse}"></i><i class="fa fa-sort" ng-show="predicate != 'type'" ></i></a></th>

            <th><a href="" ng-click="order('name')">Номер заявки <i class="fa" ng-show="predicate === 'name'" ng-class="{'fa-sort-asc':!reverse, 'fa-sort-desc':reverse}"></i><i class="fa fa-sort" ng-show="predicate != 'name'" ></i> </a></th>

            <th><a href="" ng-click="order('auto.mark')">Автомобиль <i class="fa" ng-show="predicate === 'auto.mark'" ng-class="{'fa-sort-asc':!reverse, 'fa-sort-desc':reverse}"></i><i class="fa fa-sort" ng-show="predicate != 'auto.mark'" ></i></a></th>
            <th><a href="" ng-click="order('details.comment')">Комментарий <i class="fa" ng-show="predicate === 'details.comment'" ng-class="{'fa-sort-asc':!reverse, 'fa-sort-desc':reverse}"></i><i class="fa fa-sort" ng-show="predicate != 'details.comment'" ></i></a></th>
            <th><a href="" ng-click="order('responds.length')">Кол-во откликов <i class="fa" ng-show="predicate === 'responds.length'" ng-class="{'fa-sort-asc':!reverse, 'fa-sort-desc':reverse}"></i><i class="fa fa-sort" ng-show="predicate != 'responds.length'" ></i></a></th>

            <th><a href="" ng-click="order('date')">Время <i class="fa" ng-show="predicate === 'date'" ng-class="{'fa-sort-asc':!reverse, 'fa-sort-desc':reverse}"></i><i class="fa fa-sort" ng-show="predicate != 'date'" ></i></a></th>
            <th class="relative-wrap"> 
                <div class="absolute-wrap search-wrap">
                    <div class="input-group search-form input-group-xs">
                      <input type="text" class="form-control" ng-model="query" placeholder="Поиск">
                      <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    </div>
                </div>
            </th>
        </tr>
        <tr ng-repeat="item in products | filter:query | orderBy:predicate:reverse" ng-class="{'success':item.completed}" >
            <td ng-click="viewItem(item)"><span class="fa__type" ng-class="{'to': item.type == 'Заявка на ТО', 'kuzov': item.type == 'Кузовные работы', 'remont': item.type == 'Заявка на Ремонт','tuning': item.type == 'Заявка на тюнинг'}"></span>{{item.type}}</td>
            <td ng-click="viewItem(item)">{{item.name}}</td>
            <td ng-click="viewItem(item)">{{item.auto.mark}}</td>
            <td ng-click="viewItem(item)" class="details">{{item.details.comment}}</td>
            <td ng-click="viewItem(item)" class="amount-responds"><span>{{item.responds.length}}</span></td>
            <td ng-click="viewItem(item)" class="date">{{formatDate(item.date)}}</td>
            <td class="active-buttons">
                <button ng-click="viewItem(item)" class="btn" data-toggle="tooltip" title="Посмотреть">
                    <i class="eye"></i>
                </button>
                <button ng-click="editItem(item)" ng-disabled="item.responds.length > 0" class="btn" data-toggle="tooltip" title="Изменить">
                    <i class="edit"></i>
                </button>
                <button ng-click="isdeleteProduct(item)" class="btn" data-toggle="tooltip" title="Удалить">
                    <i class="del"></i>
                </button>
                <button ng-click="completeItem(item,item.type,item.auto,item.responds)" class="btn" data-toggle="tooltip" title="Завершить">
                    <i class="play" ng-if="!item.completed"></i>
                    <i class="stop" ng-if="item.completed"></i>
                </button>
            </td>
        </tr>
    </table>
    <h4 class="mobile-request text-center" ng-if="allitems">Мои заявки</h4>
    <div class="mobile-request" ng-repeat="item in products" ng-if="allitems" >
        <div class="clearfix" ng-click="viewItem(item)">
            <div class="pull-left"><span class="fa__type" ng-class="{'to': item.type == 'Заявка на ТО', 'kuzov': item.type == 'Кузовные работы', 'remont': item.type == 'Заявка на Ремонт','tuning': item.type == 'Заявка на тюнинг'}"></span><span class="mobile-request__name">{{item.name}}</span>
            <div class="mobile-request__type">{{item.type}}</div>
            </div>
            <div class="pull-right">
                <span class="mobile-request__name">{{item.auto.mark}}</span>
            </div>
        </div>
        <div class="clearfix" ng-click="viewItem(item)">
            <div class="pull-left">
                Комментарий
            </div>
            <div class="amount-responds pull-right">
                <span>{{item.responds.length}}</span>
            </div>
        </div>
        <div class="clearfix mobile-request__details" ng-click="viewItem(item)">
            {{item.details.comment  || 'Без комментариев'}}
        </div>
        <div class="clearfix active-buttons">
            <div class="pull-left">
                <button ng-click="viewItem(item)" class="btn" data-toggle="tooltip" title="Посмотреть">
                    <i class="eye"></i>
                </button>
                <button ng-click="editItem(item)" ng-disabled="item.responds.length > 0" class="btn" data-toggle="tooltip" title="Изменить">
                    <i class="edit"></i>
                </button>
                <button ng-click="isdeleteProduct(item)" class="btn" data-toggle="tooltip" title="Удалить">
                    <i class="del"></i>
                </button>
                <button ng-click="completeItem(item,item.type,item.auto,item.responds)" class="btn" data-toggle="tooltip" title="Завершить">
                    <i class="play" ng-if="!item.completed"></i>
                    <i class="stop" ng-if="item.completed"></i>
                </button>
            </div>
            <div class="pull-right date">
                {{formatDate(item.date)}}
            </div>
        </div>
    </div>
    <div class="row" id="singleTable" class="table table-striped table-bordered table-hover" ng-if="!allitems">
            <button ng-click="viewItem(item)" class="btn btn-xs btn-primary btn-icons btn-fixed" style="position:fixed;">
                        <i class="fa fa-arrow-left"></i>
            </button>
        <div class="container-fluid">


  <div class="panel panel-success" ng-if="!allitems && !startEdit && activeresponds.length > 0">
    <div class="panel-heading" role="tab" id="headingTwo">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <h4 class="panel-title">
          <i class="otv-na-zayavku"></i> Ответы<span class="strelka3"></span><span class="answers">Ответов: {{activeresponds.length}}</span>
          </h4>
        </a>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
        <div class="container-fluid mobile-request-hide">
            <div class="row row-title">
                <div class="col-lg-4">
                    Название компании
                </div>
                <div class="col-lg-2">
                    Комментарий
                </div>
                <div class="col-lg-2">
                    Стоимость
                </div>
                <div class="col-lg-2">
                    Дата заявки
                </div>
                <div class="col-lg-2">
                </div>
            </div>
            <div class="row row-hover" ng-repeat="item in activeresponds" ng-class="{'bg-success': item.approved}">
                <div class="col-lg-4" ng-click="toogleAutoservice[$index] = !toogleAutoservice[$index];">
                    <div class="autoservice__view"><span class="eye2"></span></div>
                    <div class="autoservice__name"><a target="_blank" title="{{item.autoservice.name}}" href="{{item.autoservice.link}}">{{item.autoservice.name}}</a></div>
                    <div class="autoservice__metro"><span class="metro"></span>{{item.autoservice.metro}}</div>
                </div>
                <div class="col-lg-2" ng-click="toogleAutoservice[$index] = !toogleAutoservice[$index];">
                    Прочесть
                </div>
                <div class="col-lg-2" ng-click="toogleAutoservice[$index] = !toogleAutoservice[$index];">
                    {{item.cost | currency}}
                </div>
                <div class="col-lg-2 date" ng-click="toogleAutoservice[$index] = !toogleAutoservice[$index];">
                    {{formatDate(item.date)}}
                </div>
                <div class="col-lg-2 toogle-action">
                    <button ng-class="{'btn-success': (!item.approved),'btn-danger': (item.approved)}" ng-click="approveItem(item,item.autoservice)" class="btn btn-xs">
                                <span ng-if="!item.approved">Принять</span>
                                <span ng-if="item.approved">Отклонить</span>
                    </button>
                </div>
                <div class="col-lg-12" ng-if="toogleAutoservice[$index]">
                    {{item.description}}
                </div>
            </div> 
        </div>
        <div class="mobile-request" ng-repeat="item in activeresponds">
            <div class="clearfix">
                <div class="pull-left">
                    <div class="autoservice__view"><span class="eye2"></span></div>
                    <div class="autoservice__name"><a target="_blank" title="{{item.autoservice.name}}" href="{{item.autoservice.link}}">{{item.autoservice.name}}</a></div>
                    <div class="autoservice__metro"><span class="metro"></span>{{item.autoservice.metro}}</div>
                </div>
                <div class="pull-right">
                    <span class="mobile-request__name">{{item.cost | currency}}</span>
                </div>
            </div>
            <div class="clearfix">
                <div class="pull-left">
                    Комментарий
                </div>
                <div class="pull-right">
                    
                </div>
            </div>
            <div class="clearfix mobile-request__details">
                {{item.description || 'Без комментариев'}}
            </div>
            <div class="clearfix">
                <div class="pull-left toogle-action" >
                    <button ng-class="{'btn-success': (!item.approved),'btn-danger': (item.approved)}" ng-click="approveItem(item,item.autoservice)" class="btn btn-xs">
                                <span ng-if="!item.approved">Принять</span>
                                <span ng-if="item.approved">Отклонить</span>
                    </button>
                </div>
                <div class="pull-right date">
                    {{formatDate(item.date)}}
                </div>
            </div>
        </div>
    </div>
</div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title"><i class="big-car"></i>Данные автомобиля</h2>
              </div>
              <div class="row autodescription container-fluid">
                <div class="col-md-4 col-sm-4"><label>Марка</label><div>{{mainproduct.auto.mark || 'нет'}}</div> </div>
                <div class="col-md-4 col-sm-4"><label>Модель</label><div>{{mainproduct.auto.model || 'нет'}}</div> </div>
                <div class="col-md-4 col-sm-4"><label>Поколение</label><div>{{mainproduct.auto.generation || 'нет'}}</div> </div>
                <div class="col-md-4 col-sm-4"><label>Год</label><div>{{mainproduct.auto.year || 'нет'}}</div> </div>
                <div class="col-md-4 col-sm-4"><label>Тип двигателя</label><div>{{mainproduct.auto.engine || 'нет'}}</div> </div>
                <div class="col-md-4 col-sm-4"><label>Коробка</label><div>{{mainproduct.auto.box || 'нет'}}</div> </div>
                <div class="col-md-4 col-sm-4"><label>Мощность</label><div>{{mainproduct.auto.body || '0'}} л.с.</div> </div>
                <div class="col-md-4 col-sm-4"><label>Объем двигателя</label><div>{{mainproduct.auto.volume || '0'}} л.</div> </div>
                <div class="col-md-4 col-sm-4"><label>Цвет</label><div>{{mainproduct.auto.color || 'нет'}}</div> </div>
                <div class="col-md-4 col-sm-4"><label>Тип Кузова</label><div>{{mainproduct.auto.drive || 'нет'}}</div> </div>
                <div class="col-md-4 col-sm-4"><label>Пробег</label><div>{{mainproduct.auto.mileage || '0'}} км</div> </div>
                <div class="col-md-4 col-sm-4"><label>Vin</label><div>{{mainproduct.auto.vin || 'нет'}}</div> </div>
                </div>
            </div>
            <div class="panel panel-default hidden" >
                <div class="panel-heading">
                <h2 class="panel-title"><i class="big-car"></i>Автомобиль</h2>
              </div>
              <div class="panel-body">
                <form name="authForm" novalidate>
                    <div class="form-group">
                        <label>Выберите автомобиль</label>
                        <select class="form-control" ng-model="mainproduct.auto" ng-options="auto.name for auto in autos"></select>
                    </div>
                </form>
            </div>
            </div>
        </div>
        <div class="container-fluid" ng-if="mainproduct.type == 'Заявка на ТО'">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h2 class="panel-title"><i class="kuzov-work"></i>Заявка на ТО</h2>
              </div>
              <div class="panel-body">
                    <form name="workForm" novalidate>
                        <div class="form-group"><label>Номер заявки:</label><input ng-disabled="!startEdit" class="form-control" type="text" ng-model="mainproduct.name" /></div>
                        <div class="form-group row">
                            <ul class="checkbox-grid">
                            <li>             
                                <label ng-hide="!startEdit && !mainproduct.details.ownparts"><input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.ownparts" />
                                Свои запчасти</label>
                            </li>
                            <li>
                                <label ng-hide="!startEdit && !mainproduct.details.onguaranty"><input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.onguaranty" />
                                Автомобиль на гарантии</label>
                            </li>
                            </ul>
                        </div>
                        <div class="form-group row">
                            <ul class="checkbox-grid">
                            <li ng-repeat="item in texts.work">
                                <label ng-hide="!startEdit && !mainproduct.details.work[$index]"><input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.work[$index]" />
                                {{item}}</label>
                            </li>
                            </ul>
                        </div>
                        <div class="form-group comment-area"><label>Комментарий:</label><textarea ng-disabled="!startEdit" class="form-control" ng-model="mainproduct.details.comment" placeholder="Расскажите подробнее о том, что у вас случилось" rows="5"> </textarea></div>
                        <div ng-if="startEdit" class="text-center bottom-button">
                            <button type="submit" ng-click="updateProduct(mainproduct)"
                                    class="btn btn-primary">
                                Обновить
                            </button>
                        </div>
                    </form>
              </div>
            </div>
        </div>
        <div class="container-fluid" ng-if="mainproduct.type == 'Заявка на тюнинг'">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h2 class="panel-title"><i class="kuzov-work"></i>Заявка на тюнинг</h2>
              </div>
              <div class="panel-body">
                    <form name="workForm" novalidate>
                        <div class="form-group"><label>Номер заявки:</label><input ng-disabled="!startEdit" class="form-control" type="text" ng-model="mainproduct.name" /></div>
                        <div class="form-group row">
                            <ul class="checkbox-grid">
                            <li>             
                                <label ng-hide="!startEdit && !mainproduct.details.ownparts"><input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.ownparts" />
                                Свои запчасти</label>
                            </li>
                            <li>
                                <label ng-hide="!startEdit && !mainproduct.details.onguaranty"><input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.onguaranty" />
                                Автомобиль на гарантии</label>
                            </li>
                            </ul>
                        </div>
                        <div class="form-group row">
                            <ul class="checkbox-grid">
                            <li ng-repeat="item in texts.tuning">
                                <label ng-hide="!startEdit && !mainproduct.details.tuning[$index]"><input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.tuning[$index]" />
                                {{item}}</label>
                            </li>
                            </ul>
                        </div>
                        <div class="form-group comment-area"><label>Комментарий:</label><textarea ng-disabled="!startEdit" class="form-control" ng-model="mainproduct.details.comment" placeholder="Расскажите подробнее о том, что у вас случилось" rows="5"> </textarea></div>
                        <div ng-if="startEdit" class="text-center bottom-button">
                            <button type="submit" ng-click="updateProduct(mainproduct)"
                                    class="btn btn-primary">
                                Обновить
                            </button>
                        </div>
                    </form>
              </div>
            </div>
        </div>
        <div class="container-fluid" ng-if="mainproduct.type == 'Заявка на Ремонт'">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h2 class="panel-title"><i class="kuzov-work"></i>Заявка на ремонт</h2>
          </div>
          <div class="panel-body">
                <form name="workForm" novalidate>
                    <div class="form-group">
                        <label>Номер заявки:</label>
                        <input ng-disabled="!startEdit" class="form-control" type="text" ng-model="mainproduct.name" />
                    </div>
                    <div class="form-group row">
                        <ul class="checkbox-grid">
                        <li>             
                            <label ng-hide="!startEdit && !mainproduct.details.ownparts"><input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.ownparts" />
                            Свои запчасти</label>
                        </li>
                        <li>
                            <label ng-hide="!startEdit && !mainproduct.details.onguaranty"><input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.onguaranty" />
                            Автомобиль на гарантии</label>
                        </li>
                        </ul>
                    </div>
                    <div class="panel-body panel-info tabs-left mobile-tabs-hide" ng-show="showtable==true">
                        <ul class="nav nav-tabs" role="tablist">
                            <li ng-class="{'active': formdetails == 'question'}" role="presentation" ng-show="checknegative(mainproduct.details.question,'question') || startEdit">
                                <a ng-click="formdetails = 'question'" aria-controls="question" role="tab" data-toggle="tab" aria-expanded="true">Частые вопросы</a>
                            </li>
                            <li ng-class="{'active': formdetails == 'diagnos'}" role="presentation" ng-show="checknegative(mainproduct.details.diagnos,'diagnos') || startEdit">
                                <a ng-click="formdetails = 'diagnos'" aria-controls="diagnos" role="tab" data-toggle="tab">Диагностика</a>
                            </li>
                            <li ng-class="{'active': formdetails == 'engine'}" role="presentation" ng-show="checknegative(mainproduct.details.engine,'engine') || startEdit">
                                <a ng-click="formdetails = 'engine'" aria-controls="engine" role="tab" data-toggle="tab">Двигатель</a>
                            </li>
                            <li ng-class="{'active': formdetails == 'head'}" role="presentation" ng-show="checknegative(mainproduct.details.head,'head') || startEdit">
                                <a ng-click="formdetails = 'head'" aria-controls="head" role="tab" data-toggle="tab">Подвеска и ходовая часть</a>
                            </li>
                            <li ng-class="{'active': formdetails == 'wheel'}" role="presentation" ng-show="checknegative(mainproduct.details.wheel,'wheel') || startEdit">
                                <a ng-click="formdetails = 'wheel'" aria-controls="wheel" role="tab" data-toggle="tab">Рулевое управление и коробка передач</a>
                            </li>
                            <li ng-class="{'active': formdetails == 'addi'}" role="presentation" ng-show="checknegative(mainproduct.details.addi,'addi') || startEdit">
                                <a ng-click="formdetails = 'addi'" aria-controls="addi" role="tab" data-toggle="tab">Дополнительное оборудование</a>
                            </li>           
                        </ul>
                       <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" ng-show="formdetails == 'question'">
                                <div class="form-group row">
                                    <ul class="checkbox-grid">
                                        <li ng-repeat="item in texts.question">
                                            <label ng-hide="!startEdit && !mainproduct.details.question[$index]"><input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.question[$index]" />
                                            {{item}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane active" ng-show="formdetails == 'diagnos'">
                                <div class="form-group row">
                                    <ul class="checkbox-grid">
                                        <li ng-repeat="item in texts.diagnos">
                                            <label ng-hide="!startEdit && !mainproduct.details.diagnos[$index]"><input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.diagnos[$index]" />
                                            {{item}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane active" ng-show="formdetails == 'engine'">
                                <div class="form-group row">
                                    <ul class="checkbox-grid">
                                        <li ng-repeat="item in texts.engine">
                                            <label ng-hide="!startEdit && !mainproduct.details.engine[$index]"><input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.engine[$index]" />
                                            {{item}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane active" ng-show="formdetails == 'head'">
                                <div class="form-group row">
                                    <ul class="checkbox-grid">
                                        <li ng-repeat="item in texts.head">
                                            <label ng-hide="!startEdit && !mainproduct.details.head[$index]"><input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.head[$index]" />
                                            {{item}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane active" ng-show="formdetails == 'wheel'">
                                <div class="form-group row">
                                    <ul class="checkbox-grid">
                                        <li ng-repeat="item in texts.wheel">
                                            <label ng-hide="!startEdit && !mainproduct.details.wheel[$index]"><input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.wheel[$index]" />
                                            {{item}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane active" ng-show="formdetails == 'addi'">
                                <div class="form-group row">
                                    <ul class="checkbox-grid">
                                        <li ng-repeat="item in texts.addi">
                                            <label ng-hide="!startEdit && !mainproduct.details.addi[$index]"><input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.addi[$index]" />
                                            {{item}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                      </div>
                    </div>
                    <div class="mobile-tabs-show">
                      <div class="panel panel-info" ng-show="checknegative(mainproduct.details.question,'question') || startEdit">
                            <div class="panel-heading" role="tab" id="mend1">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#colmend1" aria-expanded="false" aria-controls="colmend1">
                                <h4 class="panel-title">
                                  Частые вопросы<span class="strelka3"></span>
                                  </h4>
                                </a>
                              </h4>
                            </div>
                            <div id="colmend1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="mend1">
                              <div class="panel-body">
                                <div role="tabpanel" class="tab-pane active">
                                    <div class="form-group row">
                                        <ul class="checkbox-grid">
                                            <li ng-repeat="item in texts.question">
                                                <label ng-hide="!startEdit && !mainproduct.details.question[$index]"><input type="checkbox" ng-model="mainproduct.details.question[$index]" ng-disabled="!startEdit" />
                                                {{item}}</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                </div>
                            </div>
                      </div>
                      <div class="panel panel-info" ng-show="checknegative(mainproduct.details.diagnos,'diagnos') || startEdit">
                        <div class="panel-heading" role="tab" id="mend2">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#colmend2" aria-expanded="false" aria-controls="colmend2">
                            <h4 class="panel-title">
                              Диагностика<span class="strelka3"></span>
                              </h4>
                            </a>
                          </h4>
                        </div>
                        <div id="colmend2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="mend2">
                          <div class="panel-body">
                            <div role="tabpanel" class="tab-pane active">
                                <div class="form-group row">
                                    <ul class="checkbox-grid">
                                        <li ng-repeat="item in texts.diagnos">
                                            <label ng-hide="!startEdit && !mainproduct.details.diagnos[$index]"><input type="checkbox" ng-model="mainproduct.details.diagnos[$index]" ng-disabled="!startEdit"/>
                                            {{item}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            </div>
                          </div>
                      </div>
                      <div class="panel panel-info" ng-show="checknegative(mainproduct.details.engine,'engine') || startEdit">
                            <div class="panel-heading" role="tab" id="mend3">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#colmend3" aria-expanded="false" aria-controls="colmend3">
                                <h4 class="panel-title">
                                  Двигатель<span class="strelka3"></span>
                                  </h4>
                                </a>
                              </h4>
                            </div>
                            <div id="colmend3" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="mend3">
                              <div class="panel-body">
                                <div role="tabpanel" class="tab-pane active">
                                    <div class="form-group row">
                                        <ul class="checkbox-grid">
                                            <li ng-repeat="item in texts.engine">
                                                <label ng-hide="!startEdit && !mainproduct.details.engine[$index]"><input type="checkbox" ng-model="mainproduct.details.engine[$index]" ng-disabled="!startEdit" />
                                                {{item}}</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                           </div>
                      </div>
                      <div class="panel panel-info" ng-show="checknegative(mainproduct.details.head,'head') || startEdit">
                            <div class="panel-heading" role="tab" id="mend4">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#colmend4" aria-expanded="false" aria-controls="colmend14">
                                <h4 class="panel-title">
                                  Подвеска и ходовая часть<span class="strelka3"></span>
                                  </h4>
                                </a>
                              </h4>
                            </div>
                            <div id="colmend4" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="mend4">
                              <div class="panel-body">
                                <div role="tabpanel" class="tab-pane active">
                                    <div class="form-group row">
                                        <ul class="checkbox-grid">
                                            <li ng-repeat="item in texts.head">
                                                <label ng-hide="!startEdit && !mainproduct.details.head[$index]"><input type="checkbox" ng-model="mainproduct.details.head[$index]" ng-disabled="!startEdit" />
                                                {{item}}</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                           </div>
                      </div>
                      <div class="panel panel-info" ng-show="checknegative(mainproduct.details.wheel,'wheel') || startEdit">
                        <div class="panel-heading" role="tab" id="mend5">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#colmend5" aria-expanded="false" aria-controls="colmend5">
                            <h4 class="panel-title">
                              Рулевое управление и коробка передач<span class="strelka3"></span>
                              </h4>
                            </a>
                          </h4>
                        </div>
                        <div id="colmend5" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="mend5">
                          <div class="panel-body">
                            <div role="tabpanel" class="tab-pane active">
                                <div class="form-group row">
                                    <ul class="checkbox-grid">
                                        <li ng-repeat="item in texts.wheel">
                                            <label ng-hide="!startEdit && !mainproduct.details.wheel[$index]"><input type="checkbox" ng-model="mainproduct.details.wheel[$index]" ng-disabled="!startEdit" />
                                            {{item}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-info" ng-show="checknegative(mainproduct.details.addi,'addi') || startEdit">
                        <div class="panel-heading" role="tab" id="mend6">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#colmend6" aria-expanded="false" aria-controls="colmend6">
                            <h4 class="panel-title">
                              Дополнительное оборудование<span class="strelka3"></span>
                              </h4>
                            </a>
                          </h4>
                        </div>
                        <div id="colmend6" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="mend6">
                          <div class="panel-body">
                            <div role="tabpanel" class="tab-pane active">
                                <div class="form-group row">
                                    <ul class="checkbox-grid">
                                        <li ng-repeat="item in texts.addi">
                                            <label ng-hide="!startEdit && !mainproduct.details.addi[$index]"><input type="checkbox" ng-model="mainproduct.details.addi[$index]" ng-disabled="!startEdit" />
                                            {{item}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group comment-area"><label>Комментарий:</label><textarea ng-disabled="!startEdit" class="form-control" ng-model="mainproduct.details.comment" placeholder="Расскажите подробнее о том, что у вас случилось" rows="5"> </textarea></div>
                    <div ng-if="startEdit" class="text-center bottom-button">
                        <button type="submit" ng-click="updateProduct(mainproduct)"
                                class="btn btn-primary">
                            Обновить
                        </button>
                    </div>
                </form>
          </div>
        </div>
        </div>
        <div class="container-fluid" ng-if="mainproduct.type == 'Кузовные работы'">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h2 class="panel-title"><i class="kuzov-work"></i>Кузовные работы</h2>
          </div>
          <div class="panel-body">
                <form name="workForm" novalidate>
                    <div class="form-group">
                        <label>Номер заявки:</label>
                        <input ng-disabled="!startEdit" class="form-control" type="text" ng-model="mainproduct.name" />
                    </div>
                    <div class="form-group row">
                        <ul class="checkbox-grid">
                        <li>             
                            <label ng-hide="!startEdit && !mainproduct.details.ownparts"><input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.ownparts" />
                            Свои запчасти</label>
                        </li>
                        <li>
                            <label ng-hide="!startEdit && !mainproduct.details.onguaranty"><input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.onguaranty" />
                            Автомобиль на гарантии</label>
                        </li>
                        </ul>
                    </div>
                    <div class="panel-body panel-info tabs-left mobile-tabs-hide" ng-show="showtable">
                        <ul class="nav nav-tabs" role="tablist">
                            <li ng-class="{'active': $parent.formdetails2 == item.eng }" ng-repeat="item in texts.destructions" role="presentation" ng-show="checknegative2(mainproduct.details.destructions[$index],item.eng) || startEdit">
                                <a ng-click="$parent.formdetails2 = item.eng" aria-controls="{{item.eng}}" role="tab" data-toggle="tab" aria-expanded="true" >{{item.title}}</a>
                            </li>           
                        </ul>
                       <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" ng-show="$parent.formdetails2 == item.eng" ng-repeat="item in texts.destructions" ng-init="parentIndex = $index" >
                                <div class="form-group row">
                                    <ul class="checkbox-grid">
                                        <li ng-repeat="ite in item.data">
                                            <label ng-hide="!startEdit && !mainproduct.details.destructions[parentIndex][$index]"><input ng-disabled="!startEdit" ng-disabled="startEdit" type="checkbox" ng-model="mainproduct.details.destructions[parentIndex][$index]" />
                                            {{ite}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                      </div>
                    </div>
                    <div class="mobile-tabs-show">
                      <div class="panel panel-info" ng-repeat="item in texts.destructions" ng-init="parentIndex = $index" ng-show="checknegative2(mainproduct.details.destructions[$index],item.eng) || startEdit">
                            <div class="panel-heading" role="tab" id="kuz{{$index}}">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#colkuz{{$index}}" aria-expanded="false" aria-controls="colkuz{{$index}}">
                                <h4 class="panel-title">
                                  {{item.title}}<span class="strelka3"></span>
                                  </h4>
                                </a>
                              </h4>
                            </div>
                            <div id="colkuz{{$index}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="kuz{{$index}}">
                              <div class="panel-body">
                                <div role="tabpanel" class="tab-pane active">
                                    <div class="form-group row">
                                        <ul class="checkbox-grid">
                                            <li ng-repeat="ite in item.data">
                                                <label ng-hide="!startEdit && !mainproduct.details.destructions[parentIndex][$index]"><input type="checkbox" ng-disabled="!startEdit" ng-model="mainproduct.details.destructions[parentIndex][$index]" />
                                                {{ite}}</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                </div>
                            </div>
                      </div>
                    </div>
                    <div class="form-group comment-area"><label>Комментарий:</label><textarea ng-disabled="!startEdit" class="form-control" ng-model="mainproduct.details.comment" placeholder="Расскажите подробнее о том, что у вас случилось" rows="5"> </textarea></div>
                    <div class="form-group" ng-class="{'has-error': errorfile}">
                        <label>Фото</label>
                        <div class="row photo-cube">
                            <div class="col-md-3" ng-repeat="i in mainproduct.details.image">
                                <a target="_blank" href="{{baseurl}}{{i}}"><img ng-dostyle="max-width:100%; border: 1px solid;" ng-src="{{baseurl}}{{i}}" /></a>
                                <a class="pointer" ng-click="deleteImage(i);" ng-show="startEdit">удалить</a>
                            </div>
                        </div>
                        <input name="name" type='file' model='mainproduct.details.image' error='errorfile' ng-model='hello_file' file-feed multiple ng-show="startEdit" />
                        <div ng-show="errorfile">
                            <span class="help-block" ng-show="errorfile == 'Toomuch'">Не более 4 файлов</span>
                            <span class="help-block" ng-show="errorfile == 'Toomuch1mb'">Каждый файл не более 1 мб</span>
                            <span class="help-block" ng-show="errorfile == 'Type'">Загружать можно только картинки</span>
                        </div>
                    </div>
                    
                    <div ng-if="startEdit" class="text-center bottom-button">
                        <button type="submit" ng-click="updateProduct(mainproduct)"
                                class="btn btn-primary">
                            Обновить
                        </button>
                    </div>
                </form>
          </div>
        </div>
        </div>
    </div>
</div>
