<style>
    #productTable { width: auto; }
    #productTable td { max-width: 150px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
    #productTable td input { max-width: 125px; }
</style>

<div ng-controller="autoCtrl">
    <div class="alert alert-success" id="alert" style="position:fixed;bottom:0;right:0;display:none;">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Поздравляем! </strong>
        Вы добавили новый автомобиль
    </div>
    <div class="alert alert-success" id="a-auto-edit" style="position:fixed;bottom:0;right:0;display:none;">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Поздравляем! </strong>
        Вы обновили {{updatedAuto.name}}
    </div>
    <div class="alert alert-danger" id="a-auto-delete" style="position:fixed;bottom:0;right:0;display:none;">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Ого! </strong>
        Вы удалили {{updatedAuto.name}}
    </div>
    <table id="autoTable" class="table table-hover" ng-if="allitems == 1"> 
    <!-- просмотр всех автомобилей -->

                
        <tr>
            <th>Имя</th>
            <th>Марка</th>
            <th>Модель</th>
            <th>Поколение</th>
            <th>
             <button ng-click="viewItem(null,3)" class="btn btn-xs btn-primary btn-icons">
                    <i class="fa fa-plus"></i>
                </button>  
            <div class="input-group search-form input-group-xs">
                
              <input type="text" class="form-control" ng-model="query" placeholder="Поиск">
              <div class="input-group-addon"><i class="fa fa-search"></i></div>
            </div>
            </th>
        </tr>
        <tr ng-repeat="item in autos | filter:query" >
            <td ng-click="viewItem(item,2)">{{item.name}}</td>
            <td ng-click="viewItem(item,2)">{{item.mark}}</td>
            <td ng-click="viewItem(item,2)">{{item.model}}</td>
            <td ng-click="viewItem(item,2)">{{item.generation}}</td>
            <td class="active-buttons">
                <button ng-click="viewItem(item,2)" class="btn btn-xs btn-info" data-toggle="tooltip" title="Посмотреть">
                    <i class="fa fa-link"></i>
                </button>
                <button ng-click="editItem(item,3)" ng-disabled="item.replied" class="btn btn-xs btn-success" data-toggle="tooltip" title="Изменить">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
                <button ng-click="isdeleteAuto(item)" class="btn btn-xs btn-danger" data-toggle="tooltip" title="Удалить">
                    <i class="fa fa-remove"></i>
                </button>
            </td>
        </tr>
    </table>
        <div class="wrapper-part" ng-if="allitems == 2">
        <button ng-click="viewItem(mainproduct, 1)" class="btn btn-xs btn-primary btn-icons"><i class="fa fa-arrow-left"></i></button>
            <div class="panel panel-info">
              <div class="panel-heading">
                <h2 class="panel-title">Данные автомобиля</h2>
              </div>
              <div class="row autodescription container-fluid">
                <div class="col-md-4"><label>Имя</label><div>{{mainproduct.name}}</div> </div>
                <div class="col-md-4"><label>Марка</label><div>{{mainproduct.mark}}</div> </div>
                <div class="col-md-4"><label>Модель</label><div>{{mainproduct.model}}</div> </div>
                <div class="col-md-4"><label>Поколение</label><div>{{mainproduct.generation}}</div> </div>
                <div class="col-md-4"><label>Год</label><div>{{mainproduct.year}}</div> </div>
                <div class="col-md-4"><label>Тип двигателя</label><div>{{mainproduct.engine}}</div> </div>
                <div class="col-md-4"><label>Коробка</label><div>{{mainproduct.box}}</div> </div>
                <div class="col-md-4"><label>Мощность</label><div>{{mainproduct.body}}</div> </div>
                <div class="col-md-4"><label>Объем двигателя</label><div>{{mainproduct.volume}}</div> </div>
                <div class="col-md-4"><label>Цвет</label><div>{{mainproduct.color}}</div> </div>
                <div class="col-md-4"><label>Привод</label><div>{{mainproduct.drive}}</div> </div>
                <div class="col-md-4"><label>Пробег</label><div>{{mainproduct.mileage}}</div> </div>
                <div class="col-md-4"><label>Vin</label><div>{{mainproduct.vin}}</div> </div>
                <div class="col-md-12 text-center"><img data-ng-src="data:image/png;base64,{{mainproduct.picture.base64}}" data-err-src="avatar.png"/></div>
                </div>
            </div>
            </div>
    <div id="addTable"  class="wrapper-part" ng-if="allitems == 3">
    <!-- добавление одного автомобиля -->
    <button ng-click="viewItem(mainproduct, 1)" class="btn btn-xs btn-primary btn-icons"><i class="fa fa-arrow-left"></i></button>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">Данные автомобиля</h2>
              </div>
            <div class="panel-body">
            
                <form name="autoadd" novalidate>
                    <div class="form-group">
                        <label>Название</label>
                        <input name="name" class="form-control" ng-model="mainproduct.name"/>
                    </div>
                    <div class="form-group">
                        <label>Марка</label>
                        <select id="mark" class="form-control" ng-if="!markinput" ng-change="Search(1, mainproduct.mark)" ng-focus="marks['other']=''" ng-model="mainproduct.mark" ng-options="mark for (mark, models) in marks" >
                        <option value=''>Select</option>
                        </select>
                        <input type="text" class="form-control" ng-model="mainproduct.mark" ng-if="markinput" ng-blur="BacktoSelect(1,mainproduct.mark)"/>
                    </div>
                    <div class="form-group">
                        <label>Модель</label>
                        <select id="model" class="form-control" ng-change="Search(2,mainproduct.model)" ng-if="!modelinput" ng-focus="mainproduct.mark['other'] =''" ng-disabled="!mainproduct.mark" id="model" ng-model="mainproduct.model" ng-options="model for (model, generations) in mainproduct.mark"><option value=''>Select</option></select>
                        <input type="text" class="form-control" ng-model="mainproduct.model"  ng-if="modelinput" ng-blur="BacktoSelect(2,mainproduct.model)"/>
                    </div>
                    <div class="form-group">
                        <label>Поколение</label>
                        <select class="form-control" ng-change="Search(3,mainproduct.generation)" ng-if="!generationinput" ng-focus="mainproduct.model.push('other');" ng-disabled="!mainproduct.mark || !mainproduct.model" id="generation" ng-model="mainproduct.generation" ng-options="generation for generation in mainproduct.model"><option value=''>Select</option></select><input type="text" class="form-control" ng-model="mainproduct.generation" ng-if="generationinput" ng-blur="BacktoSelect(3,mainproduct.generation)"/>
                    </div>
                    <div class="form-group">
                        <label>Год</label>
                        <input name="name" class="form-control" ng-model="mainproduct.year"/>
                    </div>
                    <div class="form-group">
                        <label>Тип двигателя</label>
                        <input name="name" class="form-control" ng-model="mainproduct.engine"/>
                    </div>
                    <div class="form-group">
                        <label>Коробка передач</label>
                        <input name="name" class="form-control" ng-model="mainproduct.box"/>
                    </div>
                    <div class="form-group">
                        <label>Мощность</label>
                        <input name="name" class="form-control" ng-model="mainproduct.body"/>
                    </div>
                    <div class="form-group">
                        <label>Объем двигателя</label>
                        <input name="name" class="form-control" ng-model="mainproduct.volume"/>
                    </div>
                    <div class="form-group">
                        <label>Цвет</label>
                        <input name="name" class="form-control" ng-model="mainproduct.color"/>
                    </div>
                    <div class="form-group">
                        <label>Привод</label>
                        <input name="name" class="form-control" ng-model="mainproduct.drive"/>
                    </div>
                    <div class="form-group">
                        <label>Пробег</label>
                        <input name="name" class="form-control" ng-model="mainproduct.mileage"/>
                    </div>
                    <div class="form-group">
                        <label>Vin</label>
                        <input name="name" class="form-control" ng-model="mainproduct.vin"/>
                    </div>
                    <div class="form-group">
                        <label>Фото</label>
                        <img style="max-width:100px;" data-ng-src="data:image/png;base64,{{mainproduct.picture.base64}}" data-err-src="avatar.png"/>
                        <input name="name" type='file' ng-model='mainproduct.picture' base-sixty-four-input />
                    </div>
                     <div class="text-center bottom-button">
                    <button ng-if="!startEdit" ng-click="addItem(mainproduct)" class="btn btn-primary">
                        Создать
                    </button>
                    <button ng-if="startEdit" ng-click="updateProduct(mainproduct)" class="btn btn-primary">
                        Обновить
                    </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
// <![CDATA[
/*$(document).ready(function() {
    var active="none";
    $("#"+active).show();
$(".model").append( $('<option value="Other">Другая</option>'));
$('#mark option').each(function(){
temp=$(this).val().split(':');
if (temp.length > 1){
$(this).val(temp[0]);
$(this).text(temp[1]);
}
});
    $('#mark').change(function() {
        $("#"+active).hide();
        active=$("#mark").val();
        $("#Different").hide();
        $("#"+active).show();
if($(this).val() == "Different"){
$(this).hide();
$("#Difmark").show();
}
    });
$('.model').change(function(){
if ($(this).val() == "Other"){
$(this).hide();
$("#Different").show();
}
});
$('select.model, .modelinput').change(function(){
document.getElementById('modelsum23').value = $(this).val();
$('#modelsum23').attr('value',$(this).val());
});
$('#Different').blur(function(){
if ($(this).val() == ''){
$(this).hide();
$("#"+active).show();
}
});
$('#Difmark').blur(function(){
if ($(this).val() == ''){
$(this).hide();
$("#mark").show();
}
});
});
// ]]> */</script>

