<nav class="navbar mynav" ng-controller="mainCtrl">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="images/logo.png"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse" >
          <div class="link-backtosite"><a href="https://carsbir.ru/" target="_blank">Вернуться на сайт</a></div>
          <ul class="nav navbar-nav navbar-right">
            <li ng-controller="productCtrl">Привет, {{user.name}}! <span class="btn-link" ng-click="logout();" style="cursor:pointer;">Выход</span></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<div class="container" ng-controller="mainCtrl">
<div class="panel panel-warning row main-panel">
    <div class="panel-body">
      <ul class="nav nav-tabs" id="navigation" role="tablist">
  	    <li role="presentation" ng-repeat="item in screens" ng-class="{'active': (item == current) }">
        <a href="#home" aria-controls="home" role="tab" data-toggle="tab" ng-click="setScreen($index)" ng-class="{'itab-blue': ($index == 0) , 'itab-green': ($index == 1), 'itab-orange': ($index == 2), 'itab-grey': ($index == 3) }"><i class="fa fa__text" ng-class="{'fa-gear': ($index == 0) , 'fa-car': ($index == 1), 'fa-reply': ($index == 2), 'fa-refresh': ($index == 3) }"></i>{{item}}</a></li>
	  	</ul>
	   <div class="tab-content">
	    <div role="tabpanel" class="tab-pane active" id="home">  
        <div ng-include="getScreen()" /></div>
	  </div>
    </div>
</div>
  </div>
  </div>

      <div id="loader-wrapper" style="display:none;">
        <div id="loader"></div>
    </div>
<style>
.container{
  min-width: 980px;
}
.robot, .u2, .u3, .u1, .u4, 
.eye2, .big-kuzov, .edit, .eye, .kuzov-work, 
.play, .del, .stop, .otv-na-zayavku, .lock, 
.strelka1, .strelka2, .strelka3, .add-car, .big-car, 
.dannie-auto, .vibor-auto, .kuzov, .remont, .to, 
.big-otvet, .l-robot, .avto-user, .dobavit-user, .moi-otveti, 
.zayavka-user, .zayavka, .metro, .redakt-profile
{ display: inline-block; background: url('sprite.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.robot { background-position: -2px -0px; width: 167px; height: 199px; }
.u2 { background-position: -2px -201px; width: 118px; height: 118px; }
.u3 { background-position: -2px -321px; width: 118px; height: 118px; }
.u1 { background-position: -2px -441px; width: 117px; height: 118px; }
.u4 { background-position: -2px -561px; width: 117px; height: 118px; }
.eye2 { background-position: -122px -201px; width: 33px; height: 33px; }
.big-kuzov { background-position: -122px -236px; width: 30px; height: 30px; }
.edit { background-position: -122px -268px; width: 30px; height: 29px; }
.eye { background-position: -122px -299px; width: 30px; height: 29px; }
.kuzov-work { background-position: -122px -330px; width: 30px; height: 30px; }
.play { background-position: -122px -362px; width: 30px; height: 30px; }
.del { background-position: -122px -394px; width: 29px; height: 29px; }
.stop { background-position: -122px -425px; width: 29px; height: 30px; }
.otv-na-zayavku { background-position: -121px -457px; width: 28px; height: 24px; }
.lock { background-position: -121px -483px; width: 27px; height: 35px; }
.strelka1 { background-position: -121px -520px; width: 26px; height: 13px; }
.strelka2 { background-position: -121px -535px; width: 26px; height: 13px; }
.strelka3 { background-position: -121px -550px; width: 26px; height: 12px; }
.add-car { background-position: -121px -564px; width: 24px; height: 23px; }
.big-car { background-position: -121px -589px; width: 24px; height: 20px; }
.dannie-auto { background-position: -121px -611px; width: 24px; height: 20px; }
.vibor-auto { background-position: -121px -633px; width: 24px; height: 21px; }
.kuzov { background-position: -121px -656px; width: 21px; height: 21px; }
.remont { background-position: -144px -656px; width: 21px; height: 21px; }
.to { background-position: -121px -679px; width: 21px; height: 21px; }
.big-otvet { background-position: -149px -520px; width: 18px; height: 17px; }
.l-robot { background-position: -149px -539px; width: 18px; height: 21px; }
.avto-user { background-position: -151px -457px; width: 15px; height: 11px; }
.dobavit-user { background-position: -151px -470px; width: 15px; height: 15px; }
.moi-otveti { background-position: -153px -394px; width: 14px; height: 14px; }
.zayavka-user { background-position: -154px -236px; width: 13px; height: 19px; }
.zayavka { background-position: -154px -257px; width: 13px; height: 19px; }
.metro { background-position: -154px -278px; width: 12px; height: 13px; }
.redakt-profile { background-position: -154px -293px; width: 12px; height: 12px; }

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(9,58,200,0.3);
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

    .relative-wrap{
      position: relative;
    }
    .absolute-wrap{
      position: absolute;
    }
    .absolute-wrap.search-wrap{
      top: -37px;
      right: 10px;
    }
    .fa.fa-search{
      padding:3px;
    }
    .search-wrap input{
      min-width: 225px;
    }
    .details{
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .amount-responds{
      text-align: center;
      position: relative;
    }
    .amount-responds span{
      z-index:2;
      color:#333;
      position: relative;
      z-index:10;
    }
    .amount-responds:after{
      position: absolute;
      content: '';
      width:25px;
      height: 25px;
      background: rgba(252,176,64,0.7);
      border-radius: 25px;
      top:3px;
      left:50%;
      z-index:0;
      margin-left: -12px;
    }
    .comment-area{
      background: #3DB5D8;
      padding:9px 17px;
      color:white;
    }
    .comment-area label{
      font-size:17px;
    }
    .add-auto{
      margin:5px 0;
      text-align: center;
      color: #006687;
      font-size:17px;
    }
    .add-auto button{
      width:45px;
    }
    .sort-names i{
      color: #949599;
    }
    .sort-names a{
      font-size: 15px;
    }
    .link-backtosite{
      text-align: right;
      margin-top:15px;
    }
    .link-backtosite a{
      background: #1d75bd;
      color:white;
      padding:8px;
    }
    .nav .btn-link{
      margin-left:2px;
    }
    .nav-tabs>li>a.itab-blue, .nav-tabs>li.active>a.itab-blue{
      background:#00a79d;
      color:white;
    }
    .nav-tabs>li>a.itab-green, .nav-tabs>li.active>a.itab-green{
      background:#23ae6a;
      color:white;
    }
    .nav-tabs>li>a.itab-orange, .nav-tabs>li.active>a.itab-orange{
      background:#fcb040;
      color:black;
    }
    .nav-tabs>li.active>a{
      margin-top:-6px;
      padding-bottom: 13px;
      padding-top: 13px;
    }

    /* new */
    .sort-names a i{
      margin-left:1px;
    }
    .sortOrder:after{
        content: "\25b2";
    }
    .sortOrder.reverse:after{
        content: "\25bc";
    }
    .row-hover:hover > div{
      background:#F5F5F5;
    }
    .row-hover.bg-success:hover > div{
      background:#EAFCE3;
    }
    .row-title > div{
      padding:15px 5px;
    }
    .row-hover:not(:first-child){
      border-top:1px solid #3DB5D8;
    }
    .row-hover > div{
      padding:15px 5px;
    }
    .row-hover > div.toogle-action{
      padding:12px 10px;
    }
    .main-panel.panel{
  border:none;
}
#navigation + .tab-content{
  border:1px solid #ddd;
}
.mynav .navbar-brand{
  padding:0;
}
.wrapper-part{
  padding-top:25px;
}
.input-xs {
    height: 27px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5; 
    }

.input-group-xs>.form-control,
.input-group-xs>.input-group-addon,
.input-group-xs>.input-group-btn>.btn {
    height: 27px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
}
.mynav{
  border-bottom: 2px solid #ddd;
}
.tabs-left{
  border-width:1px;
  border-style:solid;
}
.bottom-button{
  padding-top:15px;
}
.mynav li{
  padding:15px;
}
.mynav img{
  padding-top:5px;
  max-width:75px;
}
*,h1,h2,h3,h4,h5{
  font-family:'Roboto';
  font-weight: 300;
}
.btn-icons{
  width:27px;
  height:27px;
  float:left;
}
.condensted{
    margin: 0px auto !important;
    max-width: 768px !important;
}
.partial-view{
  /*padding-top:25px;*/
}
.partial-view .panel{
  margin:25px auto;
}
.fa__text{
  padding-right:5px;
}
.active-buttons button{
    width: 30px;
    height: 29px;
    padding: 0px;
    background: transparent;
}
.respondactive > div{
  padding:15px 5px;
}
.header{
  padding:40px 0;
}
.autodescription .col-md-4{
  border-bottom:1px solid #ddd;
}
.autodescription .col-md-4 label{
  color: #c1c1c1;
}
ul.checkbox-grid{
  padding:0 15px;
}
.checkbox-grid li {
    display: block;
    float: left;
    width: 25%;
    position: relative;
}
.checkbox-grid li input{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 14px;
}
.checkbox-grid li label{
	padding-left: 18px;
	vertical-align: top;
	margin-top: -0.5px;
}
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
 border-left-color: #ffffff;
}
</style>
