<style>
    #productTable { width: auto; }
    #productTable td { max-width: 150px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
    #productTable td input { max-width: 125px; }
</style>

<div ng-controller="productCtrl">
    <div class="alert alert-success" id="a-request-edit" style="position:fixed;bottom:0;right:0;display:none;">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Поздравляем! </strong>
        Вы обновили {{updatedRequest.name}}
    </div>
    <div class="alert alert-danger" id="a-request-delete" style="position:fixed;bottom:0;right:0;display:none;">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Ого! </strong>
        Вы удалили {{updatedRequest.name}}
    </div>
    <div class="alert alert-success" id="a-request-complete" style="position:fixed;bottom:0;right:0;display:none;">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Поздравляем! </strong>
        Вы завершили заявку {{updatedRequest.name}}!
    </div>
    <div class="alert alert-success" id="a-request-restore" style="position:fixed;bottom:0;right:0;display:none;">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Поздравляем! </strong>
        Вы возобновили заявку {{updatedRequest.name}}!
    </div>
    <table id="productTable" class="table table-striped table-bordered" ng-if="allitems">
        <tr>
            <th>Тип</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Автомобиль</th>
            <th>Кол-во предложений</th>
            <th>Время</th>
            <th><input type="text" ng-model="query" /></th>
        </tr>
        <tr ng-repeat="item in products | filter:query" ng-hide="item.id == editedProduct.id" ng-class="{'success':item.completed}" ng-click="viewItem(item)">
            <td>{{item.type}}</td>
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td>{{item.auto.name}}</td>
            <td>{{item.responds.length}}</td>
            <td>{{formatDate(item.date)}}</td>
            <td>
                <button ng-click="viewItem(item)" class="btn btn-xs btn-info" data-toggle="tooltip" title="Посмотреть">
                    <span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span>
                </button>
                <button ng-click="editItem(item)" ng-disabled="item.responds.length > 0" class="btn btn-xs btn-success" data-toggle="tooltip" title="Изменить">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
                <button confirmed-click="deleteProduct(item)" ng-confirm-click="Вы действительно хотите удалить?" class="btn btn-xs btn-danger" data-toggle="tooltip" title="Удалить">
                    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                </button>
                <button ng-click="completeItem(item,item.type,item.auto,item.responds)" class="btn btn-xs" ng-class="{'btn-primary':!item.complete,'btn-success':item.complete}" data-toggle="tooltip" title="Завершить">
                    <span class="glyphicon glyphicon-check" ng-if="!item.completed" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-share" ng-if="item.completed" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
    </table>
    <div class="row" id="singleTable" class="table table-striped table-bordered" ng-if="!allitems">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <button ng-click="viewItem(item)" class="btn btn-xs btn-primary">
                        Назад
                    </button>
                </div>
            </div>
            <div class="panel panel-default" ng-if="!startEdit">
              <div class="panel-heading">
                <h2 class="panel-title">Данные автомобиля</h2>
              </div>
              <div class="row autodescription">
                <div class="col-md-4"><label>Имя</label><div>{{mainproduct.auto.name}}</div> </div>
                <div class="col-md-4"><label>Марка</label><div>{{mainproduct.auto.mark}}</div> </div>
                <div class="col-md-4"><label>Модель</label><div>{{mainproduct.auto.model}}</div> </div>
                <div class="col-md-4"><label>Поколение</label><div>{{mainproduct.auto.generation}}</div> </div>
                <div class="col-md-4"><label>Год</label><div>{{mainproduct.auto.year}}</div> </div>
                <div class="col-md-4"><label>Engine</label><div>{{mainproduct.auto.engine}}</div> </div>
                <div class="col-md-4"><label>Box</label><div>{{mainproduct.auto.box}}</div> </div>
                <div class="col-md-4"><label>Body</label><div>{{mainproduct.auto.body}}</div> </div>
                <div class="col-md-4"><label>Объем двигателя</label><div>{{mainproduct.auto.volume}}</div> </div>
                <div class="col-md-4"><label>Цвет</label><div>{{mainproduct.auto.color}}</div> </div>
                <div class="col-md-4"><label>Drive</label><div>{{mainproduct.auto.drive}}</div> </div>
                <div class="col-md-4"><label>Пробег</label><div>{{mainproduct.auto.mileage}}</div> </div>
                <div class="col-md-4"><label>Vin</label><div>{{mainproduct.auto.vin}}</div> </div>
                </div>
            </div>
            <div class="panel-body" ng-if="startEdit">
                <form name="authForm" novalidate>
                    <div class="form-group">
                        <label>Выберите автомобиль</label>
                        <select ng-model="mainproduct.auto" ng-options="auto.name for auto in autos"></select>
                    </div>
                </form>
            </div>
        </div>
        <div class="container-fluid" ng-if="mainproduct.type == 'Заявка на ТО'">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title">Заявка на ТО</h2>
              </div>
              <div class="panel-body">
                    <form name="workForm" novalidate>
                        <div class="form-group"><label>Название:</label><input ng-disabled="!startEdit" class="form-control" type="text" ng-model="mainproduct.name" /></div>
                        <div class="form-group"><label>Описание:</label><input ng-disabled="!startEdit" class="form-control" type="text" ng-model="mainproduct.description" /></div>
                        <div class="form-group"><label>Комментарий:</label><input ng-disabled="!startEdit" class="form-control" type="textarea" ng-model="mainproduct.details.comment" /></div>
                        <div class="form-group row">
                            <ul class="checkbox-grid">
                            <li>             
                                <input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.ownparts" />
                                <label>Свои запчасти</label>
                            </li>
                            <li>
                                <input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.onguaranty" />
                                <label>Автомобиль на гарантии</label>
                            </li>
                            <li ng-repeat="item in texts.work">
                                <input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.work[$index]" />
                                <label>{{item}}</label>
                            </li>
                            </ul>
                        </div>
                        <div ng-if="startEdit" class="text-center">
                            <button type="submit" ng-click="updateProduct(mainproduct)"
                                    class="btn btn-primary">
                                Обновить
                            </button>
                        </div>
                    </form>
              </div>
            </div>
        </div>
        <div class="container-fluid" ng-if="mainproduct.type == 'Заявка на Ремонт'">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Заявка на ремонт</h2>
          </div>
          <div class="panel-body">
                <form name="workForm" novalidate>
                    <div class="form-group">
                        <label>Название:</label>
                        <input ng-disabled="!startEdit" class="form-control" type="text" ng-model="mainproduct.name" />
                    </div>
                    <div class="form-group">
                        <label>Описание:</label>
                        <input ng-disabled="!startEdit" class="form-control" type="text" ng-model="mainproduct.description" />
                    </div>
                    <div class="form-group">
                        <label>Опишите неисправность:</label>
                        <input ng-disabled="!startEdit" class="form-control" type="textarea" ng-model="mainproduct.details.mainbody" />
                    </div>
                    <div class="form-group">
                        <label>Комментарий:</label>
                        <input ng-disabled="!startEdit" class="form-control" type="textarea" ng-model="mainproduct.details.comment" />
                    </div>
                    <div class="form-group row">
                        <ul class="checkbox-grid">
                        <li>             
                            <input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.ownparts" />
                            <label>Свои запчасти</label>
                        </li>
                        <li>
                            <input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.onguaranty" />
                            <label>Автомобиль на гарантии</label>
                        </li>
                        </ul>
                    </div>
                    <div class="panel-body tabs-left">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active" role="presentation">
                                <a ng-click="formdetails = 'question'" aria-controls="question" role="tab" data-toggle="tab" aria-expanded="true">Частые вопросы</a>
                            </li>
                            <li role="presentation">
                                <a ng-click="formdetails = 'diagnos'" aria-controls="diagnos" role="tab" data-toggle="tab">Диагностика</a>
                            </li>
                            <li role="presentation">
                                <a ng-click="formdetails = 'engine'" aria-controls="engine" role="tab" data-toggle="tab">Двигатель</a>
                            </li>
                            <li role="presentation">
                                <a ng-click="formdetails = 'head'" aria-controls="head" role="tab" data-toggle="tab">Подвеска и ходовая часть</a>
                            </li>
                            <li role="presentation">
                                <a ng-click="formdetails = 'wheel'" aria-controls="wheel" role="tab" data-toggle="tab">Рулевое управление и коробка передач</a>
                            </li>
                            <li role="presentation">
                                <a ng-click="formdetails = 'addi'" aria-controls="addi" role="tab" data-toggle="tab">Дополнительное оборудование</a>
                            </li>           
                        </ul>
                       <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" ng-if="formdetails == 'question'">
                                <div class="form-group row">
                                    <ul class="checkbox-grid">
                                        <li ng-repeat="item in texts.question">
                                            <input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.question[$index]" />
                                            <label>{{item}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane active" ng-if="formdetails == 'diagnos'">
                                <div class="form-group row">
                                    <ul class="checkbox-grid">
                                        <li ng-repeat="item in texts.diagnos">
                                            <input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.diagnos[$index]" />
                                            <label>{{item}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane active" ng-if="formdetails == 'engine'">
                                <div class="form-group row">
                                    <ul class="checkbox-grid">
                                        <li ng-repeat="item in texts.engine">
                                            <input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.engine[$index]" />
                                            <label>{{item}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane active" ng-if="formdetails == 'head'">
                                <div class="form-group row">
                                    <ul class="checkbox-grid">
                                        <li ng-repeat="item in texts.head">
                                            <input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.head[$index]" />
                                            <label>{{item}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane active" ng-if="formdetails == 'wheel'">
                                <div class="form-group row">
                                    <ul class="checkbox-grid">
                                        <li ng-repeat="item in texts.wheel">
                                            <input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.wheel[$index]" />
                                            <label>{{item}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane active" ng-if="formdetails == 'addi'">
                                <div class="form-group row">
                                    <ul class="checkbox-grid">
                                        <li ng-repeat="item in texts.addi">
                                            <input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.addi[$index]" />
                                            <label>{{item}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                      </div>
                    </div>
                    <div ng-if="startEdit" class="text-center">
                        <button type="submit" ng-click="updateProduct(mainproduct)"
                                class="btn btn-primary">
                            Обновить
                        </button>
                    </div>
                </form>
          </div>
        </div>
        </div>
        <div class="container-fluid" ng-if="mainproduct.type == 'Кузовные работы'">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Кузовные работы</h2>
          </div>
          <div class="panel-body">
                <form name="workForm" novalidate>
                    <div class="form-group">
                        <label>Название:</label>
                        <input ng-disabled="!startEdit" class="form-control" type="text" ng-model="mainproduct.name" />
                    </div>
                    <div class="form-group">
                        <label>Описание:</label>
                        <input ng-disabled="!startEdit" class="form-control" type="text" ng-model="mainproduct.description" />
                    </div>
                    <div class="form-group">
                        <label>Опишите неисправность:</label>
                        <input ng-disabled="!startEdit" class="form-control" type="textarea" ng-model="mainproduct.details.mainbody" />
                    </div>
                    <div class="form-group">
                        <label>Комментарий:</label>
                        <input ng-disabled="!startEdit" class="form-control" type="textarea" ng-model="mainproduct.details.comment" />
                    </div>
                    <div class="form-group row">
                        <ul class="checkbox-grid">
                        <li>             
                            <input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.ownparts" />
                            <label>Свои запчасти</label>
                        </li>
                        <li>
                            <input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.onguaranty" />
                            <label>Автомобиль на гарантии</label>
                        </li>
                        </ul>
                    </div>
                    <div class="panel-body tabs-left">
                        <ul class="nav nav-tabs" role="tablist">
                            <li ng-class="{'active': $index == 0}" ng-repeat="item in texts.destructions" role="presentation">
                                <a ng-click="$parent.formdetail = item.eng" aria-controls="{{item.eng}}" role="tab" data-toggle="tab" aria-expanded="true">{{item.title}}</a>
                            </li>           
                        </ul>
                       <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" ng-show="$parent.formdetail == item.eng" ng-repeat="item in texts.destructions" ng-init="parentIndex = $index" >
                                <div class="form-group row">
                                    <ul class="checkbox-grid">
                                        <li ng-repeat="ite in item.data">
                                            <input ng-disabled="!startEdit" ng-disabled="startEdit" type="checkbox" ng-model="mainproduct.details.destructions[parentIndex][$index]" />
                                            <label>{{ite}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                      </div>
                    </div>
                    <div class="form-group">
                        <label>Фотография</label>
                        <img data-ng-src="data:image/png;base64,{{mainproduct.details.image.base64}}" ng-click="changepicture=true" data-err-src="avatar.png"/>
                        <input ng-if="startEdit && changepicture" type='file' ng-model='mainproduct.details.image' base-sixty-four-input>
                    </div>
                    <div ng-if="startEdit" class="text-center">
                        <button type="submit" ng-click="updateProduct(mainproduct)"
                                class="btn btn-primary">
                            Обновить
                        </button>
                    </div>
                </form>
          </div>
        </div>
        </div>
    </div>
        <div class="panel panel-default" ng-if="!allitems">
          <div class="panel-heading">
            <h2 class="panel-title">Предложения от автомастерских-</h2>
          </div>
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row text-center" ng-repeat="item in activeresponds" ng-class="{'bg-success': item.approved}">
                <div class="col-lg-2">
                    <a target="_blank" href="http://{{item.autoservice.site}}">{{item.autoservice.name}}</a>
                </div>
                <div class="col-lg-2">
                    {{item.name}}
                </div>
                <div class="col-lg-2">
                    {{item.description}}
                </div>
                <div class="col-lg-2">
                    <span ng-if="item.approved && (item.autoservice.id == autoservice.id)">{{mainproduct.phone}}</span>
                </div>
                <div class="col-lg-1">
                    {{item.cost | currency}}
                </div>
                <div class="col-lg-2">
                    {{item.duration}}
                </div>
                <div class="col-lg-1">
                    <button ng-click="approveItem(item,item.autoservice)" class="btn btn-xs btn-primary">
                    Подтвердить
                </button>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
