<div ng-controller="productCtrl">
    <table id="partnerTable" class="table table-striped table-bordered table-hover" ng-if="Allpartners">  
        <tr ng-repeat="item in partners">
            <td>{{item.username}}</td>
            <td>
                <button ng-click="viewPartner(item)" class="btn btn-xs btn-primary">
                    View
                </button>
            </td>
        </tr>       
    </table>
    <table id="partnerTableSingle" class="table table-striped table-bordered table-hover" ng-if="!Allpartners">  
        <tr>
            <td>{{activeItem.username}}</td>
            <td>
                <button ng-click="viewPartner(item)" class="btn btn-xs btn-primary">
                    Back
                </button>
            </td>
        </tr>       
    </table>
</div>
