<style>
    #productTable { width: auto; }
    #productTable td { max-width: 150px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
    #productTable td input { max-width: 125px; }
</style>
    <div class="alert alert-success" id="a-user-edit-profile" style="position:fixed;bottom:0;right:0;display:none;">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Поздравляем! </strong>
        Вы изменили свой профиль
    </div>
    <div class="alert alert-success" id="a-user-edit-password" style="position:fixed;bottom:0;right:0;display:none;">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Ого! </strong>
        Вы изменили свой пароль
    </div>
<div ng-controller="productCtrl">
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion"  data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Личные данные пользователя
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <form name="authForm" novalidate>
            <div class="form-group">
                <label>Имя</label>
                <input name="name" class="form-control" ng-model="user.name"/>
            </div>
            <div class="form-group">
                <label>Фамилия</label>
                <input name="surname" class="form-control" ng-model="user.surname"/>
            </div>
            <div class="form-group" ng-class="{'has-error':authForm.phone.$invalid && validation.phone}">
                <label>Телефон</label>
                <input name="phone" class="form-control" ng-minlength="11" ng-pattern="/^[0-9]{11}$/"
                       ng-model="user.phone" ng-blur="validation.phone = true" required />
                <div ng-show="validation.phone">
                    <span class="help-block" ng-show="authForm.phone.$error.required || authForm.phone.$error.minlength">Введите телефон</span>
                    <span class="help-block" ng-show="authForm.phone.$error.pattern && !authForm.phone.$error.required && !authForm.phone.$error.minlength">Телефон длинной 11 символов и состоит из цифр</span>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error':authForm.email.$invalid && validation.email}">
                <label>Email</label>
                <input type="email" name="email"  class="form-control"
                       ng-model="user.email" ng-blur="validation.email = true" required />
                <div ng-show="validation.email">
                    <span class="help-block" ng-show="authForm.email.$error.required">Дайте нам свой Email</span>
                    <span class="help-block" ng-show="authForm.email.$error.email">Email должен быть другим</span>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" ng-click="editUser(user)"
                        ng-disabled="authForm.$invalid"
                        class="btn btn-primary">
                    Изменить
                </button>
            </div>
        </form>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Изменить пароль
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <form name="passchange" novalidate>
            <div class="form-group">
                <label>Новый пароль</label>
                <input name="password" class="form-control" type="password" ng-model="user.password"/>
            </div>
            <div class="text-center">
                <button type="submit" ng-click="editUser(user)"
                        ng-disabled="passchange.$invalid"
                        class="btn btn-primary">
                    Изменить
                </button>
            </div>
        </form>
    </div>
  </div>
</div>
</div>
