<div ng-controller="autoCtrl">
    <ng-spinner></ng-spinner>
    <div class="alert alert-success" id="alert" style="position:fixed;bottom:0;right:0;display:none;">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Поздравляем! </strong>
        Вы добавили новый автомобиль
    </div>
    <div class="alert alert-success" id="a-auto-edit" style="position:fixed;bottom:0;right:0;display:none;">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Поздравляем! </strong>
        Вы обновили {{updatedAuto.name}}
    </div>
    <div class="alert alert-danger" id="a-auto-delete" style="position:fixed;bottom:0;right:0;display:none;">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Ого! </strong>
        Вы удалили {{updatedAuto.name}}
    </div>
    <table id="autoTable" class="table table-hover mobile-request-hide" ng-if="allitems == 1"> 
    <!-- просмотр всех автомобилей -->                
        <tr class="sort-names">
            <th><a href="" ng-click="order('mark')">Марка <i class="fa" ng-show="predicate === 'mark'" ng-class="{'fa-sort-asc':!reverse, 'fa-sort-desc':reverse}"></i><i class="fa fa-sort" ng-show="predicate != 'mark'" ></i></a></th>
            <th><a href="" ng-click="order('model')">Модель <i class="fa" ng-show="predicate === 'model'" ng-class="{'fa-sort-asc':!reverse, 'fa-sort-desc':reverse}"></i><i class="fa fa-sort" ng-show="predicate != 'model'" ></i></a></th>
            <th><a href="" ng-click="order('year')">Год выпуска <i class="fa" ng-show="predicate === 'year'" ng-class="{'fa-sort-asc':!reverse, 'fa-sort-desc':reverse}"></i><i class="fa fa-sort" ng-show="predicate != 'year'" ></i></a></th>
            <th class="relative-wrap"> 
                <div class="absolute-wrap search-wrap">
                    <div class="input-group search-form input-group-xs">
                      <input type="text" class="form-control" ng-model="query" placeholder="Поиск">
                      <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    </div>
                </div>
            </th>
        </tr>
        <tr ng-repeat="item in autos | filter:query |orderBy:predicate:reverse" >
            <td ng-click="viewItem(item,2)">{{item.mark}}</td>
            <td ng-click="viewItem(item,2)">{{item.model}}</td>
            <td ng-click="viewItem(item,2)">{{item.year}}</td>
            <td class="active-buttons">
                <button ng-click="viewItem(item,2)" class="btn" data-toggle="tooltip" title="Посмотреть">
                    <i class="eye"></i>
                </button>
                <button ng-click="editItem(item,3)" ng-disabled="item.replied" class="btn" data-toggle="tooltip" title="Изменить">
                    <i class="edit"></i>
                </button>
                <button ng-click="isdeleteAuto(item)" class="btn" data-toggle="tooltip" title="Удалить">
                    <i class="del"></i>
                </button>
            </td>
        </tr>
    </table>
    <h4 class="mobile-request text-center" ng-if="allitems == 1">Мои автомобили</h4>
    <div class="mobile-request" ng-repeat="item in autos" ng-if="allitems == 1">
        <div class="clearfix" ng-click="viewItem(item,2)">
            <div class="pull-left"><span class="mobile-request__name">{{item.mark}} : {{item.model}}</span>
            </div>
            <div class="pull-right">
                <span class="mobile-request__name">{{item.year}}</span>
            </div>
        </div>
        <div class="clearfix active-buttons">
                <button ng-click="viewItem(item,2)" class="btn" data-toggle="tooltip" title="Посмотреть">
                    <i class="eye"></i>
                </button>
                <button ng-click="editItem(item,3)" ng-disabled="item.replied" class="btn" data-toggle="tooltip" title="Изменить">
                    <i class="edit"></i>
                </button>
                <button ng-click="isdeleteAuto(item)" class="btn" data-toggle="tooltip" title="Удалить">
                    <i class="del"></i>
                </button>
        </div>
    </div>
    <div class="add-auto" ng-if="allitems == 1">
    <button ng-click="viewItem(null,3);" class="btn btn-sm btn-primary ">
        <i class="fa fa-plus fa-2x"></i> 
    </button>
    Добавить автомобиль
    </div>
        <div class="wrapper-part" ng-if="allitems == 2">
        <button ng-click="viewItem($parent.mainproduct, 1)" class="btn btn-xs btn-primary btn-icons btn-fixed"><i class="fa fa-arrow-left"></i></button>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title"><i class="big-car"></i>Данные автомобиля</h2>
              </div>
              <div class="row autodescription container-fluid">
                <div class="col-md-4 col-sm-4"><label>Марка</label><div>{{$parent.mainproduct.mark || 'нет'}}</div> </div>
                <div class="col-md-4 col-sm-4"><label>Модель</label><div>{{$parent.mainproduct.model || 'нет'}}</div> </div>
                <div class="col-md-4 col-sm-4"><label>Поколение</label><div>{{$parent.mainproduct.generation || 'нет'}}</div> </div>
                <div class="col-md-4 col-sm-4"><label>Год</label><div>{{$parent.mainproduct.year || 'нет'}}</div> </div>
                <div class="col-md-4 col-sm-4"><label>Тип двигателя</label><div>{{$parent.mainproduct.engine || 'нет'}}</div> </div>
                <div class="col-md-4 col-sm-4"><label>Коробка</label><div>{{$parent.mainproduct.box || 'нет'}}</div> </div>
                <div class="col-md-4 col-sm-4"><label>Мощность</label><div>{{$parent.mainproduct.body || '0'}} л.с.</div> </div>
                <div class="col-md-4 col-sm-4"><label>Объем двигателя</label><div>{{$parent.mainproduct.volume || '0'}} л.</div> </div>
                <div class="col-md-4 col-sm-4"><label>Цвет</label><div>{{$parent.mainproduct.color || 'нет'}}</div> </div>
                <div class="col-md-4 col-sm-4"><label>Тип Кузова</label><div>{{$parent.mainproduct.drive || 'нет'}}</div> </div>
                <div class="col-md-4 col-sm-4"><label>Пробег</label><div>{{$parent.mainproduct.mileage || '0'}} км</div> </div>
                <div class="col-md-4 col-sm-4"><label>Vin</label><div>{{$parent.mainproduct.vin || 'нет'}}</div> </div>
                </div>
                <div class="row photo-cube">
                    <div class="col-md-3" ng-repeat="i in $parent.mainproduct.picture">
                        <a target="_blank" href="{{baseurl}}{{i}}"><img style="max-width:100%; border: 1px solid;" ng-src="{{baseurl}}{{i}}" /></a>
                    </div>
                </div>
                <div class="text-center ma-b-10">
                    <button ng-click="editItem($parent.mainproduct,3)" class="btn btn-primary">
                        Редактировать
                    </button>
                </div>
            </div>
            </div>
    <div id="addTable"  class="wrapper-part" ng-if="allitems == 3">
    <!-- добавление одного автомобиля -->
    <button ng-click="viewItem($parent.mainproduct, 1)" class="btn btn-xs btn-primary btn-icons btn-fixed"><i class="fa fa-arrow-left"></i></button>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title"><i class="big-car"></i>Данные автомобиля</h2>
              </div>
            <div class="panel-body">
            
                <form name="autoadd" novalidate>
                    <div class="form-group">
                        <label>Марка* (обязательно поле)</label>
                        <select id="mark" class="form-control" ng-if="!markinput && !$parent.mainproduct.ismark" ng-change="$parent.Search(1, $parent.mainproduct.mark)" ng-focus="marks['Другая']='dif'" ng-model="$parent.mainproduct.mark" ng-options="mark for (mark, models) in marks" >
                        <option value=''>Выбрать</option>
                        </select>
                        <input type="text" class="form-control" ng-model="$parent.mainproduct.mark" ng-if="markinput && $parent.mainproduct.ismark" ng-blur="BacktoSelect(1,$parent.mainproduct.mark)" placeholder="Введите марку автомобиля"/>
                    </div>
                    <div class="form-group">
                        <label>Модель</label>
                        <select id="model" class="form-control" ng-change="$parent.Search(2,$parent.mainproduct.model)" ng-if="!modelinput && !$parent.mainproduct.ismodel" ng-focus="$parent.mainproduct.mark['Другая'] ='dif'" ng-disabled="!$parent.mainproduct.mark" id="model" ng-model="$parent.mainproduct.model" ng-options="model for (model, generations) in $parent.mainproduct.mark"><option value=''>Выбрать</option></select>
                        <input type="text" class="form-control" ng-model="$parent.mainproduct.model"  ng-if="modelinput && $parent.mainproduct.ismodel" ng-blur="BacktoSelect(2,$parent.mainproduct.model)" placeholder="Введите модель автомобиля"/>
                    </div>
                    <div class="form-group">
                        <label>Поколение</label>
                        <input type="text" class="form-control" ng-model="$parent.mainproduct.generation"/>
                    </div>
                    <div class="form-group">
                        <label>Год</label>
                        <select class="form-control" ng-model="mainproduct.year" ng-options="o as o for o in array_auto.array_years" ></select>
                    </div>
                    <div class="form-group">
                        <label>Тип двигателя</label>
                        <select class="form-control" ng-model="$parent.mainproduct.engine" ng-options="o as o for o in array_auto.array_engine" ></select>
                    </div>
                    <div class="form-group">
                        <label>Коробка передач</label>
                        <select class="form-control" ng-model="$parent.mainproduct.box" ng-options="o as o for o in array_auto.array_box" ></select>
                    </div>
                    <div class="form-group">
                        <label>Мощность</label>
                        <div class="input-group">
                            <input name="name" class="form-control" ng-model="$parent.mainproduct.body"/>

                            <div class="input-group-addon">л.с.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Объем двигателя (л.)</label>
                            <select class="form-control" ng-model="$parent.mainproduct.volume" ng-options="o as o for o in array_auto.array_volume" ></select>
                    </div>
                    <div class="form-group">
                        <label>Цвет</label>
                        <input name="name" class="form-control" ng-model="$parent.mainproduct.color"/>
                    </div>
                    <div class="form-group">
                        <label>Тип Кузова</label>
                        <select class="form-control" ng-model="$parent.mainproduct.drive" ng-options="o as o for o in array_auto.array_back" ></select>
                    </div>
                    <div class="form-group">
                        <label>Пробег</label>
                        <div class="input-group">
                        <input name="name" class="form-control" ng-model="$parent.mainproduct.mileage"/>
                            <div class="input-group-addon">км</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Vin</label>
                        <input name="name" class="form-control" ng-model="$parent.mainproduct.vin"/>
                    </div>
                    <div class="form-group" ng-class="{'has-error': errorfile}">
                        <label>Фото</label>
                        <div class="row photo-cube">
                            <div class="col-md-3" ng-repeat="i in $parent.mainproduct.picture">
                                <a target="_blank" href="{{baseurl}}{{i}}"><img style="max-width:100%; border:1px solid" ng-src="{{baseurl}}{{i}}" /></a>
                                <a class="pointer" ng-click="deleteImageP(i);">удалить</a>
                            </div>
                        </div>
                        <input name="name" type='file' model='$parent.mainproduct.picture' error='errorfile' ng-model='hello_file' file-feed multiple/>
                        <div ng-show="errorfile">
                            <span class="help-block" ng-show="errorfile == 'Toomuch'">Не более 4 файлов</span>
                            <span class="help-block" ng-show="errorfile == 'Toomuch1mb'">Каждый файл не более 1 мб</span>
                            <span class="help-block" ng-show="errorfile == 'Type'">Загружать можно только картинки</span>
                        </div>
                    </div>
                     <div class="text-center bottom-button">
                    <button ng-if="!startEdit" ng-click="addItem($parent.mainproduct)" class="btn btn-primary" ng-disabled="!$parent.mainproduct.mark">
                        Создать
                    </button>
                    <button ng-if="startEdit" ng-click="updateProduct($parent.mainproduct)" class="btn btn-primary" ng-disabled="!$parent.mainproduct.mark">
                        Обновить
                    </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
// <![CDATA[
/*$(document).ready(function() {
    var active="none";
    $("#"+active).show();
$(".model").append( $('<option value="Other">Другая</option>'));
$('#mark option').each(function(){
temp=$(this).val().split(':');
if (temp.length > 1){
$(this).val(temp[0]);
$(this).text(temp[1]);
}
});
    $('#mark').change(function() {
        $("#"+active).hide();
        active=$("#mark").val();
        $("#Different").hide();
        $("#"+active).show();
if($(this).val() == "Different"){
$(this).hide();
$("#Difmark").show();
}
    });
$('.model').change(function(){
if ($(this).val() == "Other"){
$(this).hide();
$("#Different").show();
}
});
$('select.model, .modelinput').change(function(){
document.getElementById('modelsum23').value = $(this).val();
$('#modelsum23').attr('value',$(this).val());
});
$('#Different').blur(function(){
if ($(this).val() == ''){
$(this).hide();
$("#"+active).show();
}
});
$('#Difmark').blur(function(){
if ($(this).val() == ''){
$(this).hide();
$("#mark").show();
}
});
});
// ]]> */</script>

