<div ng-controller="autoCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <button ng-click="viewItem(mainproduct, 1)" class="btn btn-xs btn-primary">
                    Заявка на ТО
                </button>
            </div>
            <div class="col-md-4">
                <button ng-click="viewItem(mainproduct, 2)" class="btn btn-xs btn-primary">
                    Заявка на Ремонт
                </button>
            </div>
            <div class="col-md-4">
                <button ng-click="viewItem(mainproduct, 3)" class="btn btn-xs btn-primary">
                    Кузовные работы
                </button>
            </div>
        </div>
    </div>
    <div id="request1" class="container-fluid" ng-if="allitems == 1">
        <div class="row">
            <h1>Заявка на то</h1>
            <select ng-model="mainproduct.autoid" ng-options="auto.name for auto in autos"></select>
        </div>
        <div class="row">
            <h2>Работы в рамках ТО</h2>
            <div class="col-md-4">Название:<input type="text" ng-model="mainproduct.name" /></div>
            <div class="col-md-4">Описание:<input type="text" ng-model="mainproduct.description" /></div>
        </div>
        <div class="row">
            <div class="col-md-4">Свои запчасти:<input type="checkbox" ng-model="mainproduct.details.ownparts" /></div>
            <div class="col-md-4">Автомобиль на гарантии:<input type="checkbox" ng-model="mainproduct.details.onguaranty" /></div>
            <div class="col-md-4">Комментарий:<input type="textarea" ng-model="mainproduct.details.comment" /></div>
        </div>
        <div class="row">
            <div class="col-md-4" ng-repeat="item in texts.work">{{item}}:<input type="checkbox" ng-model="mainproduct.details.work[$index]" /></div>
        </div>
        <div class="row">
            <button ng-click="addRequest(mainproduct)" class="btn btn-xs btn-primary">
                Create
            </button>
        </div>
    </div>
    <div id="request2" class="container-fluid" ng-if="allitems == 2">
        <div class="row">
            <h1>Заявка на Ремонт</h1>
            <select ng-model="mainproduct.autoid" ng-options="auto.name for auto in autos"></select>
        </div>
        <div class="row">
            <div class="col-md-4">Название:<input type="text" ng-model="mainproduct.name" /></div>
            <div class="col-md-4">Описание:<input type="text" ng-model="mainproduct.description" /></div>
        </div>
        <div class="row">
            <h1>Опишите неисправность:</h1>
            <input type="textarea" ng-model="mainproduct.details.mainbody" />
        </div>
        <div class="row">
            <div class="col-md-4">Свои запчасти:<input type="checkbox" ng-model="mainproduct.details.ownparts" /></div>
            <div class="col-md-4">Автомобиль на гарантии:<input type="checkbox" ng-model="mainproduct.details.onguaranty" /></div>
            <div class="col-md-4">Комментарий:<input type="textarea" ng-model="mainproduct.details.comment" /></div>
        </div>
        <div class="row">
            <h1>Частые вопросы</h1>
            <div class="col-md-4" ng-repeat="item in texts.question">{{item}}:<input type="checkbox" ng-model="mainproduct.details.question[$index]" /></div>
        </div>
        <div class="row">
            <h1>Диагностика</h1>
            <div class="col-md-4" ng-repeat="item in texts.diagnos">{{item}}:<input type="checkbox" ng-model="mainproduct.details.diagnos[$index]" /></div>
        </div>
        <div class="row">
            <h1>Двигатель</h1>
            <div class="col-md-4" ng-repeat="item in texts.engine">{{item}}:<input type="checkbox" ng-model="mainproduct.details.engine[$index]" /></div>
        </div>
        <div class="row">
            <h1>Подвеска и ходовая часть</h1>
            <div class="col-md-4" ng-repeat="item in texts.head">{{item}}:<input type="checkbox" ng-model="mainproduct.details.head[$index]" /></div>
        </div>
        <div class="row">
            <h1>Рулевое управление и коробка передач</h1>
            <div class="col-md-4" ng-repeat="item in texts.wheel">{{item}}:<input type="checkbox" ng-model="mainproduct.details.wheel[$index]" /></div>
        </div>
        <div class="row">
            <h1>Дополнительное оборудование</h1>
            <div class="col-md-4" ng-repeat="item in texts.addi">{{item}}:<input type="checkbox" ng-model="mainproduct.details.addi[$index]" /></div>
        </div>
        <div class="row">
            <button ng-click="addRequest(mainproduct)" class="btn btn-xs btn-primary">
                Create
            </button>
        </div>
    </div>
    <div id="request3" class="container-fluid" ng-if="allitems == 3">
        <div class="row">
            <h1>Кузовные работы</h1>
            <select ng-model="mainproduct.autoid" ng-options="auto.name for auto in autos"></select>
        </div>
        <div class="row">
            <div class="col-md-4">Название:<input type="text" ng-model="mainproduct.name" /></div>
            <div class="col-md-4">Описание:<input type="text" ng-model="mainproduct.description" /></div>
        </div>
        <div class="row">
            <div class="col-md-4">Свои запчасти:<input type="checkbox" ng-model="mainproduct.details.ownparts" /></div>
            <div class="col-md-4">Автомобиль на гарантии:<input type="checkbox" ng-model="mainproduct.details.onguaranty" /></div>
            <div class="col-md-4">Комментарий:<input type="textarea" ng-model="mainproduct.details.comment" /></div>
        </div>
        <div class="row" ng-repeat="item in texts.destructions" ng-init="parentIndex = $index">
            <h2>{{item.title}}</h2>
            <div class="col-md-4" ng-repeat="ite in item.data">{{ite}}:<input type="checkbox" ng-model="mainproduct.details.destructions[parentIndex][$index]" /></div>
        </div>
        <div class="row">
            <button ng-click="addRequest(mainproduct)" class="btn btn-xs btn-primary">
                Create
            </button>
        </div>
    </div>
</div>
