<div ng-controller="productCtrl" class="partial-view" ng-init="formdetails = 'question'; $parent.formdetail = 'bamper';">
    <div id="loader-wrapper" ng-if="loading">
        <div id="loader"></div>
    </div>
    <div class="alert alert-success" id="a-respond-edit" style="position:fixed;bottom:0;right:0;display:none;">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Поздравляем! </strong>
        Вы обновили {{updatedRespond.name}}
    </div>
    <div class="alert alert-danger" id="a-respond-delete" style="position:fixed;bottom:0;right:0;display:none;">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Ого! </strong>
        Вы удалили {{updatedRespond.name}}
    </div>
    <table id="productTable" class="table table-striped table-bordered table-hover mobile-request-hide" ng-if="respondview == 1"> 
    <!-- просмотр всех ответов -->
        <tr class="sort-names">
            <th><a href="" ng-click="order('type')">Тип <i class="fa" ng-show="predicate === 'type'" ng-class="{'fa-sort-asc':!reverse, 'fa-sort-desc':reverse}"></i><i class="fa fa-sort" ng-show="predicate != 'type'" ></i></a></th>
            <th><a href="" ng-click="order('name')">Номер заявки <i class="fa" ng-show="predicate === 'name'" ng-class="{'fa-sort-asc':!reverse, 'fa-sort-desc':reverse}"></i><i class="fa fa-sort" ng-show="predicate != 'name'" ></i> </a></th>
            <th><a href="" ng-click="order('auto.mark')">Марка <i class="fa" ng-show="predicate === 'auto.mark'" ng-class="{'fa-sort-asc':!reverse, 'fa-sort-desc':reverse}"></i><i class="fa fa-sort" ng-show="predicate != 'auto.mark'" ></i> </a></th>
            <th><a href="" ng-click="order('description')">Комментарий <i class="fa" ng-show="predicate === 'description'" ng-class="{'fa-sort-asc':!reverse, 'fa-sort-desc':reverse}"></i><i class="fa fa-sort" ng-show="predicate != 'description'" ></i> </a></th>
            <th><a href="" ng-click="order('cost')">Стоимость <i class="fa" ng-show="predicate === 'cost'" ng-class="{'fa-sort-asc':!reverse, 'fa-sort-desc':reverse}"></i><i class="fa fa-sort" ng-show="predicate != 'cost'" ></i></a></th>
            <th><a href="" ng-click="order('phone')">Телефон <i class="fa" ng-show="predicate === 'phone'" ng-class="{'fa-sort-asc':!reverse, 'fa-sort-desc':reverse}"></i><i class="fa fa-sort" ng-show="predicate != 'phone'" ></i></a></th>
            <th><a href="" ng-click="order('date')">Дата заявки<i class="fa" ng-show="predicate === 'date'" ng-class="{'fa-sort-asc':!reverse, 'fa-sort-desc':reverse}"></i><i class="fa fa-sort" ng-show="predicate != 'date'" ></i></a></th>
            <th><a href="" ng-click="order('approved')">Статус заявки<i class="fa" ng-show="predicate === 'approved'" ng-class="{'fa-sort-asc':!reverse, 'fa-sort-desc':reverse}"></i><i class="fa fa-sort" ng-show="predicate != 'approved'" ></i></a></th>
            <th class="relative-wrap"> 
                <div class="absolute-wrap search-wrap">
                    <div class="input-group search-form input-group-xs">
                      <input type="text" class="form-control" ng-model="query" placeholder="Поиск">
                      <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    </div>
                </div>
            </th>
        </tr>
        <tr ng-repeat="item in myresponds | filter:query |orderBy:predicate:reverse" >
            <td ng-click="viewRespond(item,2)"><span class="fa__type" ng-class="{'to': item.type == 'Заявка на ТО', 'kuzov': item.type == 'Кузовные работы', 'remont': item.type == 'Заявка на Ремонт'}"></span>{{item.type}}</td>
            <td ng-click="viewRespond(item,2)">{{item.name}}</td>
            <td ng-click="viewRespond(item,2)">{{item.auto.mark}}</td>
            <td ng-click="viewRespond(item,2)">{{item.description}}</td>
            <td ng-click="viewRespond(item,2)">{{item.cost | currency}}</td>
            <td><span ng-if="item.approved" ng-click="viewRespond(item,2)">{{item.phone}}</span></td>
            <td ng-click="viewRespond(item,2)">{{formatDate(item.date)}}</td>
            <td class="respond-status">
            <span ng-if="item.approved" class="success-status">Одобрено</span>
            <span ng-if="!item.approved && item.viewed" class="viewed-status">Просмотрено</span>
            <span ng-if="!item.viewed && !item.approved" class="pending-status">Ожидает</span>
            </td>
            <td class="active-buttons">
                <button ng-click="viewRespond(item,2)" class="btn" data-toggle="tooltip" title="Посмотреть">
                    <i class="eye"></i>
                </button>
                <button ng-click="editRespond(item,3)" ng-disabled="item.replied" class="btn" data-toggle="tooltip" title="Изменить">
                    <i class="edit"></i>
                </button>
                <button ng-click="isdeleteRespond(item)" class="btn" data-toggle="tooltip" title="Удалить">
                    <i class="del"></i>
                </button>
            </td>
        </tr>
    </table>
    <h4 class="mobile-request text-center" ng-if="respondview == 1">Мои ответы</h4>
    <div class="mobile-request" ng-repeat="item in myresponds" ng-if="respondview == 1">
        <div class="clearfix text-center" ng-if="item.approved">
            Телефон: {{item.phone}}
        </div>
        <div class="clearfix">
            <div class="pull-left"><span class="fa__type" ng-class="{'to': item.type == 'Заявка на ТО', 'kuzov': item.type == 'Кузовные работы', 'remont': item.type == 'Заявка на Ремонт','tuning': item.type == 'Заявка на тюнинг'}"></span><span class="mobile-request__name">{{item.name}}</span>
            <div class="mobile-request__type">{{item.type}}</div>
            </div>
            <div class="pull-right">
                <span class="mobile-request__name">{{item.auto.mark}}</span>
            </div>
        </div>
        <div class="clearfix">
            <div class="pull-left">
                Комментарий
            </div>
            <div class="pull-right">
                <span>{{item.cost | currency}}</span>
            </div>
        </div>
        <div class="clearfix mobile-request__details">
            {{item.description}}
        </div>
        <div class="clearfix active-buttons">
            <div class="pull-left">
                <button ng-click="viewRespond(item,2)" class="btn" data-toggle="tooltip" title="Посмотреть">
                    <i class="eye"></i>
                </button>
                <button ng-click="editRespond(item,3)" ng-disabled="item.replied" class="btn" data-toggle="tooltip" title="Изменить">
                    <i class="edit"></i>
                </button>
                <button ng-click="isdeleteRespond(item)" class="btn" data-toggle="tooltip" title="Удалить">
                    <i class="del"></i>
                </button>
            </div>
            <div class="pull-right date">
                {{formatDate(item.date)}}
            </div>
        </div>
    </div>
    <div class="container-fluid" ng-if="respondview == 2">
        <button ng-click="viewRespond(mainrespond, 1)" class="btn btn-xs btn-primary btn-icons btn-fixed" ng-if="respondview == 2">
            <i class="fa fa-arrow-left"></i>
        </button>
        <div class="panel panel-warning">
                  <div class="panel-heading">
                    <h2 class="panel-title">Данные ответа на заявку</h2>
                  </div>
                  <div class="panel-body panel-xs">
                        <table class="table table-bordered matop15 mobile-request-hide">
                        	<tr>
                            <th>Номер заявки</th>
                            <th>Имя</th>
                            <th>Телефон</th>
                            <th>Стоимость</th>
                            <th>Дата</th>
                            <th>Статус</th>
                            </tr>
                        <tr>
                            <td>{{mainrespond.name}}</td>
                            <td>{{mainrespond.username}}</td>
                            <td><span ng-if="mainrespond.approved">{{mainrespond.phone}}</span></td>
                            <td>{{mainrespond.cost | currency}}</td>
                            <td>{{formatDate(mainrespond.date)}}</td>
                            <td class="respond-status">            
    	                        <span ng-if="mainrespond.approved" class="success-status">Одобрено</span>
    	            			<span ng-if="!mainrespond.approved && mainrespond.viewed" class="viewed-status">Просмотрено</span>
    	            			<span ng-if="!mainrespond.viewed && !mainrespond.approved" class="pending-status">Ожидает</span>
                			</td>
                        </tr>
                        </table>
                        <div class="mobile-request ma0" >
                            <div class="clearfix text-center">
                                <div class="pull-left">Имя: {{mainrespond.username}}</div>
                                <div class="pull-right" ng-if="mainrespond.approved">Телефон: {{mainrespond.phone}}</div>
                            </div>
                            <div class="clearfix">
                                <div class="pull-left"><span class="fa__type" ng-class="{'to': mainrespond.type == 'Заявка на ТО', 'kuzov': item.type == 'Кузовные работы', 'remont': item.type == 'Заявка на Ремонт','tuning': mainrespond.type == 'Заявка на тюнинг'}"></span><span class="mobile-request__name">{{mainrespond.name}}</span>
                                <div class="mobile-request__type">{{mainrespond.type}}</div>
                                </div>
                                <div class="pull-right">
                                    <span class="mobile-request__name">{{mainrespond.auto.mark}}</span>
                                </div>
                            </div>
                            <div class="clearfix">
                                <div class="pull-left date">
                                    {{formatDate(mainrespond.date)}}
                                </div>
                                <div class="pull-right">
                                    <span>{{mainrespond.cost | currency}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="bordered">
                        	<h3>Ваши комментарии и дополнения</h3>
                        	<textarea class="form-control" rows="5" ng-disabled="true">{{mainrespond.description}}</textarea>
                        </div>
                    </div>
        </div>

        <div class="container-fluid" ng-if="mainproduct.type == 'Заявка на ТО' && respondview == 2">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h2 class="panel-title"><i class="kuzov-work"></i>Заявка на ТО</h2>
              </div>
              <div class="panel-body">
                    <form name="workForm" novalidate>
                        <div class="form-group"><label>Номер заявки:</label><input ng-disabled="!startEdit" class="form-control" type="text" ng-model="mainproduct.name" /></div>
                        <div class="form-group row">
                            <ul class="checkbox-grid">
                            <li>             
                                <label ng-hide="!startEdit && !mainproduct.details.ownparts"><input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.ownparts" />
                                Свои запчасти</label>
                            </li>
                            <li>
                                <label ng-hide="!startEdit && !mainproduct.details.onguaranty" ><input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.onguaranty" />
                                Автомобиль на гарантии</label>
                            </li>
                            <li ng-repeat="item in texts.work">
                                <label ng-hide="!startEdit && !mainproduct.details.work[$index]"><input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.work[$index]" />
                                {{item}}</label>
                            </li>
                            </ul>
                        </div>
                        <div class="form-group comment-area"><label>Комментарий:</label><textarea ng-disabled="!startEdit" class="form-control" ng-model="mainproduct.details.comment" placeholder="Расскажите подробнее о том, что у вас случилось" rows="5"> </textarea></div>
                    </form>
              </div>
            </div>
        </div>
        <div class="container-fluid" ng-if="mainproduct.type == 'Заявка на тюнинг' && respondview == 2">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h2 class="panel-title"><i class="kuzov-work"></i>Заявка на тюнинг</h2>
              </div>
              <div class="panel-body">
                    <form name="workForm" novalidate>
                        <div class="form-group"><label>Номер заявки:</label><input ng-disabled="!startEdit" class="form-control" type="text" ng-model="mainproduct.name" /></div>
                        <div class="form-group row">
                            <ul class="checkbox-grid">
                            <li>             
                                <label ng-hide="!startEdit && !mainproduct.details.ownparts"><input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.ownparts" />
                                Свои запчасти</label>
                            </li>
                            <li>
                                <label ng-hide="!startEdit && !mainproduct.details.onguaranty" ><input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.onguaranty" />
                                Автомобиль на гарантии</label>
                            </li>
                            <li ng-repeat="item in texts.tuning">
                                <label ng-hide="!startEdit && !mainproduct.details.tuning[$index]"><input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.tuning[$index]" />
                                {{item}}</label>
                            </li>
                            </ul>
                        </div>
                        <div class="form-group comment-area"><label>Комментарий:</label><textarea ng-disabled="!startEdit" class="form-control" ng-model="mainproduct.details.comment" placeholder="Расскажите подробнее о том, что у вас случилось" rows="5"> </textarea></div>
                    </form>
              </div>
            </div>
        </div>
        <div class="container-fluid" ng-if="mainproduct.type == 'Заявка на Ремонт' && respondview == 2">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h2 class="panel-title"><i class="kuzov-work"></i>Заявка на Ремонт</h2>
              </div>
              <div class="panel-body">
                    <form name="workForm" novalidate>
                        <div class="form-group">
                            <label>Номер заявки:</label>
                            <input ng-disabled="!startEdit" class="form-control" type="text" ng-model="mainproduct.name" />
                        </div>
                        <div class="form-group row">
                            <ul class="checkbox-grid">
                            <li>             
                                <label ng-hide="!startEdit && !mainproduct.details.ownparts"><input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.ownparts" />
                                Свои запчасти</label>
                            </li>
                            <li>
                                <label ng-hide="!startEdit && !mainproduct.details.onguaranty" ><input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.onguaranty" />
                                Автомобиль на гарантии</label>
                            </li>
                            </ul>
                        </div>
                        <div class="panel-body tabs-left panel-info mobile-tabs-hide" ng-show="showtable">
                        <ul class="nav nav-tabs" role="tablist">
                            <li ng-class="{'active': $parent.formdetails == 'question'}" role="presentation" ng-if="checknegative(mainproduct.details.question,'question')">
                                <a ng-click="changedetail('question');" aria-controls="question" role="tab" data-toggle="tab" aria-expanded="true">Частые вопросы</a>
                            </li>
                            <li ng-class="{'active': $parent.formdetails == 'diagnos'}" role="presentation" ng-if="checknegative(mainproduct.details.diagnos,'diagnos')">
                                <a ng-click="changedetail('diagnos');" aria-controls="diagnos" role="tab" data-toggle="tab">Диагностика</a>
                            </li>
                            <li ng-class="{'active': $parent.formdetails == 'engine'}" role="presentation" ng-if="checknegative(mainproduct.details.engine,'engine')">
                                <a ng-click="changedetail('engine');" aria-controls="engine" role="tab" data-toggle="tab">Двигатель</a>
                            </li>
                            <li ng-class="{'active': $parent.formdetails == 'head'}" role="presentation" ng-if="checknegative(mainproduct.details.head,'head')">
                                <a ng-click="changedetail('head');" aria-controls="head" role="tab" data-toggle="tab">Подвеска и ходовая часть</a>
                            </li>
                            <li ng-class="{'active': $parent.formdetails == 'wheel'}" role="presentation" ng-if="checknegative(mainproduct.details.wheel,'wheel')">
                                <a ng-click="changedetail('wheel');" aria-controls="wheel" role="tab" data-toggle="tab">Рулевое управление и коробка передач</a>
                            </li>
                            <li ng-class="{'active': $parent.formdetails == 'addi'}" role="presentation" ng-if="checknegative(mainproduct.details.addi,'addi')">
                                <a ng-click="changedetail('addi');" aria-controls="addi" role="tab" data-toggle="tab">Дополнительное оборудование</a>
                            </li>           
                        </ul>
                           <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" ng-show="$parent.formdetails == 'question'">
                                    <div class="form-group row">
                                        <ul class="checkbox-grid">
                                            <li ng-repeat="item in texts.question">
                                                <label ng-hide="!startEdit && !mainproduct.details.question[$index]"><input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.question[$index]" />
                                                {{item}}</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane active" ng-show="$parent.formdetails == 'diagnos'">
                                    <div class="form-group row">
                                        <ul class="checkbox-grid">
                                            <li ng-repeat="item in texts.diagnos">
                                                <label ng-hide="!startEdit && !mainproduct.details.diagnos[$index]"><input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.diagnos[$index]" />
                                                {{item}}</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane active" ng-show="$parent.formdetails == 'engine'">
                                    <div class="form-group row">
                                        <ul class="checkbox-grid">
                                            <li ng-repeat="item in texts.engine">
                                                <label ng-hide="!startEdit && !mainproduct.details.engine[$index]"><input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.engine[$index]" />
                                                {{item}}</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane active" ng-show="$parent.formdetails == 'head'">
                                    <div class="form-group row">
                                        <ul class="checkbox-grid">
                                            <li ng-repeat="item in texts.head">
                                                <label ng-hide="!startEdit && !mainproduct.details.head[$index]"><input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.head[$index]" />
                                                {{item}}</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane active" ng-show="$parent.formdetails == 'wheel'">
                                    <div class="form-group row">
                                        <ul class="checkbox-grid">
                                            <li ng-repeat="item in texts.wheel">
                                                <label ng-hide="!startEdit && !mainproduct.details.wheel[$index]"><input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.wheel[$index]" />
                                                {{item}}</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane active" ng-show="$parent.formdetails == 'addi'">
                                    <div class="form-group row">
                                        <ul class="checkbox-grid">
                                            <li ng-repeat="item in texts.addi">
                                                <label ng-hide="!startEdit && !mainproduct.details.addi[$index]"><input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.addi[$index]" />
                                                {{item}}</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                          </div>
                        </div>
                    <div class="mobile-tabs-show">
                      <div class="panel panel-info" ng-show="checknegative(mainproduct.details.question,'question') || startEdit">
                            <div class="panel-heading" role="tab" id="mend1">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#colmend1" aria-expanded="false" aria-controls="colmend1">
                                <h4 class="panel-title">
                                  Частые вопросы<span class="strelka3"></span>
                                  </h4>
                                </a>
                              </h4>
                            </div>
                            <div id="colmend1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="mend1">
                              <div class="panel-body">
                                <div role="tabpanel" class="tab-pane active">
                                    <div class="form-group row">
                                        <ul class="checkbox-grid">
                                            <li ng-repeat="item in texts.question">
                                                <label ng-hide="!startEdit && !mainproduct.details.question[$index]"><input type="checkbox" ng-model="mainproduct.details.question[$index]" ng-disabled="!startEdit" />
                                                {{item}}</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                </div>
                            </div>
                      </div>
                      <div class="panel panel-info" ng-show="checknegative(mainproduct.details.diagnos,'diagnos') || startEdit">
                        <div class="panel-heading" role="tab" id="mend2">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#colmend2" aria-expanded="false" aria-controls="colmend2">
                            <h4 class="panel-title">
                              Диагностика<span class="strelka3"></span>
                              </h4>
                            </a>
                          </h4>
                        </div>
                        <div id="colmend2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="mend2">
                          <div class="panel-body">
                            <div role="tabpanel" class="tab-pane active">
                                <div class="form-group row">
                                    <ul class="checkbox-grid">
                                        <li ng-repeat="item in texts.diagnos">
                                            <label ng-hide="!startEdit && !mainproduct.details.diagnos[$index]"><input type="checkbox" ng-model="mainproduct.details.diagnos[$index]" ng-disabled="!startEdit"/>
                                            {{item}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            </div>
                          </div>
                      </div>
                      <div class="panel panel-info" ng-show="checknegative(mainproduct.details.engine,'engine') || startEdit">
                            <div class="panel-heading" role="tab" id="mend3">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#colmend3" aria-expanded="false" aria-controls="colmend3">
                                <h4 class="panel-title">
                                  Двигатель<span class="strelka3"></span>
                                  </h4>
                                </a>
                              </h4>
                            </div>
                            <div id="colmend3" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="mend3">
                              <div class="panel-body">
                                <div role="tabpanel" class="tab-pane active">
                                    <div class="form-group row">
                                        <ul class="checkbox-grid">
                                            <li ng-repeat="item in texts.engine">
                                                <label ng-hide="!startEdit && !mainproduct.details.engine[$index]"><input type="checkbox" ng-model="mainproduct.details.engine[$index]" ng-disabled="!startEdit" />
                                                {{item}}</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                           </div>
                      </div>
                      <div class="panel panel-info" ng-show="checknegative(mainproduct.details.head,'head') || startEdit">
                            <div class="panel-heading" role="tab" id="mend4">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#colmend4" aria-expanded="false" aria-controls="colmend14">
                                <h4 class="panel-title">
                                  Подвеска и ходовая часть<span class="strelka3"></span>
                                  </h4>
                                </a>
                              </h4>
                            </div>
                            <div id="colmend4" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="mend4">
                              <div class="panel-body">
                                <div role="tabpanel" class="tab-pane active">
                                    <div class="form-group row">
                                        <ul class="checkbox-grid">
                                            <li ng-repeat="item in texts.head">
                                                <label ng-hide="!startEdit && !mainproduct.details.head[$index]"><input type="checkbox" ng-model="mainproduct.details.head[$index]" ng-disabled="!startEdit" />
                                                {{item}}</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                           </div>
                      </div>
                      <div class="panel panel-info" ng-show="checknegative(mainproduct.details.wheel,'wheel') || startEdit">
                        <div class="panel-heading" role="tab" id="mend5">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#colmend5" aria-expanded="false" aria-controls="colmend5">
                            <h4 class="panel-title">
                              Рулевое управление и коробка передач<span class="strelka3"></span>
                              </h4>
                            </a>
                          </h4>
                        </div>
                        <div id="colmend5" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="mend5">
                          <div class="panel-body">
                            <div role="tabpanel" class="tab-pane active">
                                <div class="form-group row">
                                    <ul class="checkbox-grid">
                                        <li ng-repeat="item in texts.wheel">
                                            <label ng-hide="!startEdit && !mainproduct.details.wheel[$index]"><input type="checkbox" ng-model="mainproduct.details.wheel[$index]" ng-disabled="!startEdit" />
                                            {{item}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-info" ng-show="checknegative(mainproduct.details.addi,'addi') || startEdit">
                        <div class="panel-heading" role="tab" id="mend6">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#colmend6" aria-expanded="false" aria-controls="colmend6">
                            <h4 class="panel-title">
                              Дополнительное оборудование<span class="strelka3"></span>
                              </h4>
                            </a>
                          </h4>
                        </div>
                        <div id="colmend6" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="mend6">
                          <div class="panel-body">
                            <div role="tabpanel" class="tab-pane active">
                                <div class="form-group row">
                                    <ul class="checkbox-grid">
                                        <li ng-repeat="item in texts.addi">
                                            <label ng-hide="!startEdit && !mainproduct.details.addi[$index]"><input type="checkbox" ng-model="mainproduct.details.addi[$index]" ng-disabled="!startEdit" />
                                            {{item}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        </div>
                        </div>
                      </div>
                    </div>
                        <div class="form-group comment-area"><label>Комментарий:</label><textarea ng-disabled="!startEdit" class="form-control" ng-model="mainproduct.details.comment" placeholder="Расскажите подробнее о том, что у вас случилось" rows="5"> </textarea></div>
                    </form>
              </div>
            </div>
        </div>
        <div class="container-fluid" ng-if="mainproduct.type == 'Кузовные работы' && respondview == 2">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h2 class="panel-title"><i class="kuzov-work"></i>Кузовные работы</h2>
              </div>
              <div class="panel-body">
                    <form name="workForm" novalidate>
                        <div class="form-group">
                            <label>Номер заявки:</label>
                            <input ng-disabled="!startEdit" class="form-control" type="text" ng-model="mainproduct.name" />
                        </div>
                        <div class="form-group row">
                            <ul class="checkbox-grid">
                            <li>             
                                <label ng-hide="!startEdit && !mainproduct.details.ownparts"><input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.ownparts" />
                                Свои запчасти</label>
                            </li>
                            <li>
                                <label ng-hide="!startEdit && !mainproduct.details.onguaranty" ><input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.onguaranty" />
                                Автомобиль на гарантии</label>
                            </li>
                            </ul>
                        </div>
                    <div class="panel-body panel-info tabs-left mobile-tabs-hide" ng-show="showtable">
                        <ul class="nav nav-tabs" role="tablist">
                            <li ng-class="{'active': $parent.formdetails2 == item.eng }" ng-repeat="item in texts.destructions" role="presentation" ng-show="checknegative2(mainproduct.details.destructions[$index],item.eng)">
                                <a ng-click="$parent.formdetails2 = item.eng" aria-controls="{{item.eng}}" role="tab" data-toggle="tab" aria-expanded="true" >{{item.title}}</a>
                            </li>           
                        </ul>
                       <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" ng-show="$parent.formdetails2 == item.eng" ng-repeat="item in texts.destructions" ng-init="parentIndex = $index" >
                                <div class="form-group row">
                                    <ul class="checkbox-grid">
                                        <li ng-repeat="ite in item.data">
                                            <label ng-hide="!startEdit && !mainproduct.details.destructions[parentIndex][$index]"><input ng-disabled="!startEdit" ng-disabled="startEdit" type="checkbox" ng-model="mainproduct.details.destructions[parentIndex][$index]" />
                                            {{ite}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                      </div>
                    </div>
                    <div class="mobile-tabs-show">
                      <div class="panel panel-info" ng-repeat="item in texts.destructions" ng-init="parentIndex = $index" ng-show="checknegative2(mainproduct.details.destructions[$index],item.eng) || startEdit">
                            <div class="panel-heading" role="tab" id="kuz{{$index}}">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#colkuz{{$index}}" aria-expanded="false" aria-controls="colkuz{{$index}}">
                                <h4 class="panel-title">
                                  {{item.title}}<span class="strelka3"></span>
                                  </h4>
                                </a>
                              </h4>
                            </div>
                            <div id="colkuz{{$index}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="kuz{{$index}}">
                              <div class="panel-body">
                                <div role="tabpanel" class="tab-pane active">
                                    <div class="form-group row">
                                        <ul class="checkbox-grid">
                                            <li ng-repeat="ite in item.data">
                                                <label ng-hide="!startEdit && !mainproduct.details.destructions[parentIndex][$index]"><input type="checkbox" ng-model="mainproduct.details.destructions[parentIndex][$index]" />
                                                {{ite}}</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                </div>
                            </div>
                      </div>
                    </div>
                        <div class="form-group comment-area"><label>Комментарий:</label><textarea ng-disabled="!startEdit" class="form-control" ng-model="mainproduct.details.comment" placeholder="Расскажите подробнее о том, что у вас случилось" rows="5"> </textarea></div>
                        <div class="form-group" ng-if="mainproduct.details.image">
                            <label>Фотография</label>
                            <div class="row photo-cube">
                            <div class="col-md-3" ng-repeat="i in mainproduct.details.image">
                                <a target="_blank" href="{{baseurl}}{{i}}"><img style="max-width:100%; border: 1px solid;" ng-src="{{baseurl}}{{i}}" /></a>
                            </div>
                        </div>
                        </div>
                    </form>
              </div>
            </div>
        </div>
    <div id="addTable"  ng-if="respondview == 3">
    <button ng-click="viewRespond(mainrespond, 1)" class="btn btn-xs btn-primary btn-icons btn-fixed"><i class="fa fa-arrow-left"></i></button>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">Данные об ответе</h2>
            </div>
        <div class="panel-body">
            <form name="autoadd" novalidate>
                <div class="form-group">
                    <label>Цена</label>
                            <div class="input-group">
                            <input name="cost" class="form-control" ng-model="mainrespond.cost" />
                                <div class="input-group-addon">руб.</div>
                            </div>
                </div>
                <div class="form-group">
                    <label>Комментарий</label>
                    <textarea class="form-control" ng-model="mainrespond.description" placeholder="Подробно расскажите про детали предложения" rows="5"> </textarea>
                </div>
                    <div class="text-center bottom-button">
                        <button type="submit"  ng-click="updateRespond(mainrespond)"
                                class="btn btn-primary">
                            Обновить
                        </button>
                    </div>
            </form>
        </div>
        </div>
    </div>
    </div>

</div>
