<style>
    #productTable { width: auto; }
    #productTable td { max-width: 150px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
    #productTable td input { max-width: 125px; }
    .sortOrder:after{
        content: "\25b2";
    }
    .sortOrder.reverse:after{
        content: "\25bc";
    }
</style>

<div ng-controller="productCtrl" class="partial-view" ng-init="formdetails = 'question'; $parent.formdetail = 'bamper';">
    <div class="alert alert-success" id="a-respond-edit" style="position:fixed;bottom:0;right:0;display:none;">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Поздравляем! </strong>
        Вы обновили {{updatedRespond.name}}
    </div>
    <div class="alert alert-danger" id="a-respond-delete" style="position:fixed;bottom:0;right:0;display:none;">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Ого! </strong>
        Вы удалили {{updatedRespond.name}}
    </div>
    <table id="autoTable" class="table table-striped table-bordered table-hover" ng-if="respondview == 1"> 
    <!-- просмотр всех ответов -->
        <tr>
            <th><a href="" ng-click="order('name')">Имя</a><span class="sortOrder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"></span></th>
            <th><a href="" ng-click="order('description')">Описание</a><span class="sortOrder" ng-show="predicate === 'description'" ng-class="{reverse:reverse}"></span></th>
            <th><a href="" ng-click="order('cost')">Цена</a><span class="sortOrder" ng-show="predicate === 'cost'" ng-class="{reverse:reverse}"></span></th>
            <th><a href="" ng-click="order('duration')">Длительность</a><span class="sortOrder" ng-show="predicate === 'duration'" ng-class="{reverse:reverse}"></span></th>
            <th><a href="" ng-click="order('date')">Дата</a><span class="sortOrder" ng-show="predicate === 'date'" ng-class="{reverse:reverse}"></span></th>
            <th><a href="" ng-click="order('phone')">Телефон</a><span class="sortOrder" ng-show="predicate === 'phone'" ng-class="{reverse:reverse}"></th>
            <th>            
            <div class="input-group search-form input-group-xs">
              <input type="text" class="form-control" ng-model="query" placeholder="Поиск">
              <div class="input-group-addon"><i class="fa fa-search"></i></div>
            </div></th>
        </tr>
        <tr ng-repeat="item in myresponds | filter:query |orderBy:predicate:reverse" ng-class="{'success' : item.approved }" >
            <td ng-click="viewRespond(item,2)">{{item.name}}</td>
            <td ng-click="viewRespond(item,2)">{{item.description}}</td>
            <td ng-click="viewRespond(item,2)">{{item.cost | currency}}</td>
            <td ng-click="viewRespond(item,2)">{{item.duration}}</td>
            <td ng-click="viewRespond(item,2)">{{formatDate(item.date)}}</td>
            <td><span ng-if="item.approved" ng-click="viewRespond(item,2)">{{item.phone}}</span></td>
            <td class="active-buttons">
                <button ng-click="viewRespond(item,2)" class="btn btn-xs btn-info btn-icons" data-toggle="tooltip" title="Посмотреть">
                    <i class="fa fa-link"></i>
                </button>
                <button ng-click="editRespond(item,3)" ng-disabled="item.replied" class="btn btn-xs btn-success btn-icons" data-toggle="tooltip" title="Изменить">
                    <i class="fa fa-edit"></i>
                </button>
                <button ng-click="isdeleteRespond(item)" class="btn btn-xs btn-icons btn-danger" data-toggle="tooltip" title="Удалить">
                    <i class="fa fa-remove"></i>
                </button>
            </td>
        </tr>
    </table>
    <div class="container-fluid" ng-if="respondview == 2">
    <button ng-click="viewRespond(mainrespond, 1)" class="btn btn-xs btn-primary btn-icons" ng-if="respondview == 2">
        <i class="fa fa-arrow-left"></i>
    </button>
    <div class="panel panel-info">
              <div class="panel-heading">
                <h2 class="panel-title">Данные ответа на заявку</h2>
              </div>
              <div class="panel-body panel-xs">
                    <div class="row respondactive">
                        <div class="col-md-2">Имя</div>
                        <div class="col-md-2">Описание</div>
                        <div class="col-md-2">Цена</div>
                        <div class="col-md-2">Длительность</div>
                        <div class="col-md-2">Дата</div>
                        <div class="col-md-2">Телефон</div>
                    </div>
                    <div class="row respondactive">
                        <div class="col-md-2">{{mainrespond.name}}</div>
                        <div class="col-md-2">{{mainrespond.description}}</div>
                        <div class="col-md-2">{{mainrespond.cost | currency}}</div>
                        <div class="col-md-2">{{mainrespond.duration}}</div>
                        <div class="col-md-2">{{formatDate(mainrespond.date)}}</div>
                        <div class="col-md-2"><span ng-if="mainrespond.approved">{{mainrespond.phone}}</span></div>
                    </div>
                </div>
        </div>

        <div class="container-fluid" ng-if="mainproduct.type == 'Заявка на ТО' && respondview == 2">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h2 class="panel-title">Заявка на ТО</h2>
              </div>
              <div class="panel-body">
                    <form name="workForm" novalidate>
                        <div class="form-group"><label>Название:</label><input ng-disabled="!startEdit" class="form-control" type="text" ng-model="mainproduct.name" /></div>
                        <div class="form-group"><label>Описание:</label><input ng-disabled="!startEdit" class="form-control" type="text" ng-model="mainproduct.description" /></div>
                        <div class="form-group"><label>Комментарий:</label><input ng-disabled="!startEdit" class="form-control" type="textarea" ng-model="mainproduct.details.comment" /></div>
                        <div class="form-group row">
                            <ul class="checkbox-grid">
                            <li>             
                                <input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.ownparts" />
                                <label>Свои запчасти</label>
                            </li>
                            <li>
                                <input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.onguaranty" />
                                <label>Автомобиль на гарантии</label>
                            </li>
                            <li ng-repeat="item in texts.work">
                                <input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.work[$index]" />
                                <label>{{item}}</label>
                            </li>
                            </ul>
                        </div>
                    </form>
              </div>
            </div>
        </div>
        <div class="container-fluid" ng-if="mainproduct.type == 'Заявка на Ремонт' && respondview == 2">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h2 class="panel-title">Заявка на Ремонт</h2>
              </div>
              <div class="panel-body">
                    <form name="workForm" novalidate>
                        <div class="form-group">
                            <label>Название:</label>
                            <input ng-disabled="!startEdit" class="form-control" type="text" ng-model="mainproduct.name" />
                        </div>
                        <div class="form-group">
                            <label>Описание:</label>
                            <input ng-disabled="!startEdit" class="form-control" type="text" ng-model="mainproduct.description" />
                        </div>
                        <div class="form-group">
                            <label>Опишите неисправность:</label>
                            <input ng-disabled="!startEdit" class="form-control" type="textarea" ng-model="mainproduct.details.mainbody" />
                        </div>
                        <div class="form-group">
                            <label>Комментарий:</label>
                            <input ng-disabled="!startEdit" class="form-control" type="textarea" ng-model="mainproduct.details.comment" />
                        </div>
                        <div class="form-group row">
                            <ul class="checkbox-grid">
                            <li>             
                                <input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.ownparts" />
                                <label>Свои запчасти</label>
                            </li>
                            <li>
                                <input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.onguaranty" />
                                <label>Автомобиль на гарантии</label>
                            </li>
                            </ul>
                        </div>
                        <div class="panel-body tabs-left panel-info">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active" role="presentation">
                                    <a ng-click="formdetails = 'question'" aria-controls="question" role="tab" data-toggle="tab" aria-expanded="true">Частые вопросы</a>
                                </li>
                                <li role="presentation">
                                    <a ng-click="formdetails = 'diagnos'" aria-controls="diagnos" role="tab" data-toggle="tab">Диагностика</a>
                                </li>
                                <li role="presentation">
                                    <a ng-click="formdetails = 'engine'" aria-controls="engine" role="tab" data-toggle="tab">Двигатель</a>
                                </li>
                                <li role="presentation">
                                    <a ng-click="formdetails = 'head'" aria-controls="head" role="tab" data-toggle="tab">Подвеска и ходовая часть</a>
                                </li>
                                <li role="presentation">
                                    <a ng-click="formdetails = 'wheel'" aria-controls="wheel" role="tab" data-toggle="tab">Рулевое управление и коробка передач</a>
                                </li>
                                <li role="presentation">
                                    <a ng-click="formdetails = 'addi'" aria-controls="addi" role="tab" data-toggle="tab">Дополнительное оборудование</a>
                                </li>           
                            </ul>
                           <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" ng-if="formdetails == 'question'">
                                    <div class="form-group row">
                                        <ul class="checkbox-grid">
                                            <li ng-repeat="item in texts.question">
                                                <input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.question[$index]" />
                                                <label>{{item}}</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane active" ng-if="formdetails == 'diagnos'">
                                    <div class="form-group row">
                                        <ul class="checkbox-grid">
                                            <li ng-repeat="item in texts.diagnos">
                                                <input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.diagnos[$index]" />
                                                <label>{{item}}</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane active" ng-if="formdetails == 'engine'">
                                    <div class="form-group row">
                                        <ul class="checkbox-grid">
                                            <li ng-repeat="item in texts.engine">
                                                <input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.engine[$index]" />
                                                <label>{{item}}</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane active" ng-if="formdetails == 'head'">
                                    <div class="form-group row">
                                        <ul class="checkbox-grid">
                                            <li ng-repeat="item in texts.head">
                                                <input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.head[$index]" />
                                                <label>{{item}}</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane active" ng-if="formdetails == 'wheel'">
                                    <div class="form-group row">
                                        <ul class="checkbox-grid">
                                            <li ng-repeat="item in texts.wheel">
                                                <input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.wheel[$index]" />
                                                <label>{{item}}</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane active" ng-if="formdetails == 'addi'">
                                    <div class="form-group row">
                                        <ul class="checkbox-grid">
                                            <li ng-repeat="item in texts.addi">
                                                <input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.addi[$index]" />
                                                <label>{{item}}</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                          </div>
                        </div>
                    </form>
              </div>
            </div>
        </div>
        <div class="container-fluid" ng-if="mainproduct.type == 'Кузовные работы' && respondview == 2">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h2 class="panel-title">Кузовные работы</h2>
              </div>
              <div class="panel-body">
                    <form name="workForm" novalidate>
                        <div class="form-group">
                            <label>Название:</label>
                            <input ng-disabled="!startEdit" class="form-control" type="text" ng-model="mainproduct.name" />
                        </div>
                        <div class="form-group">
                            <label>Описание:</label>
                            <input ng-disabled="!startEdit" class="form-control" type="text" ng-model="mainproduct.description" />
                        </div>
                        <div class="form-group">
                            <label>Опишите неисправность:</label>
                            <input ng-disabled="!startEdit" class="form-control" type="textarea" ng-model="mainproduct.details.mainbody" />
                        </div>
                        <div class="form-group">
                            <label>Комментарий:</label>
                            <input ng-disabled="!startEdit" class="form-control" type="textarea" ng-model="mainproduct.details.comment" />
                        </div>
                        <div class="form-group row">
                            <ul class="checkbox-grid">
                            <li>             
                                <input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.ownparts" />
                                <label>Свои запчасти</label>
                            </li>
                            <li>
                                <input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.onguaranty" />
                                <label>Автомобиль на гарантии</label>
                            </li>
                            </ul>
                        </div>
                        <div class="panel-body tabs-left panel-info">
                            <ul class="nav nav-tabs" role="tablist">
                                <li ng-class="{'active': $index == 0}" ng-repeat="item in texts.destructions" role="presentation">
                                    <a ng-click="$parent.formdetail = item.eng" aria-controls="{{item.eng}}" role="tab" data-toggle="tab" aria-expanded="true">{{item.title}}</a>
                                </li>           
                            </ul>
                           <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" ng-show="$parent.formdetail == item.eng" ng-repeat="item in texts.destructions" ng-init="parentIndex = $index" >
                                    <div class="form-group row">
                                        <ul class="checkbox-grid">
                                            <li ng-repeat="ite in item.data">
                                                <input ng-disabled="!startEdit" type="checkbox" ng-model="mainproduct.details.destructions[parentIndex][$index]" />
                                                <label>{{ite}}</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                          </div>
                        </div>
                        <div class="form-group">
                            <label>Фотография</label>
                            <img data-ng-src="data:image/png;base64,{{mainproduct.details.image.base64}}" ng-click="changepicture=true" data-err-src="avatar.png"/>
                        </div>
                    </form>
              </div>
            </div>
        </div>
    </div>
    <div id="addTable"  ng-if="respondview == 3">
    <!-- добавление одного автомобиля -->
    <button ng-click="viewRespond(mainrespond, 1)" class="btn btn-xs btn-primary btn-icons"><i class="fa fa-arrow-left"></i></button>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">Данные об ответе</h2>
            </div>
        <div class="panel-body">
            <form name="autoadd" novalidate>
                <div class="form-group">
                    <label>Название</label>
                    <input name="name" class="form-control" ng-model="mainrespond.name"/>
                </div>
                <div class="form-group">
                    <label>Описание</label>
                    <input name="name" class="form-control" ng-model="mainrespond.description"/>
                </div>
                <div class="form-group">
                    <label>Цена</label>
                    <input name="name" class="form-control" ng-model="mainrespond.cost"/>
                </div>
                <div class="form-group">
                    <label>Длительность</label>
                    <input name="name" class="form-control" ng-model="mainrespond.duration"/>
                </div>
                    <div class="text-center bottom-button">
                        <button type="submit"  ng-click="updateRespond(mainrespond)"
                                class="btn btn-primary">
                            Обновить
                        </button>
                    </div>
            </form>
        </div>
        </div>
    </div>
</div>
