<div class="well" ng-controller="authCtrl">

    <div class="alert alert-info" ng-hide="authenticationError">
        Введите ваш логин и пароль чтобы войти в систему
    </div>

    <div class="alert alert-danger" ng-show="authenticationError">
        Не получилось авторизоваться ({{authenticationError.status}}). Попробуйте снова.
    </div>

    <form name="authForm" novalidate>
        <div class="form-group">
            <label>Имя</label>
            <input name="username" class="form-control" ng-model="username" required />
        </div>
        <div class="form-group">
            <label>Пароль</label>
            <input name="password" type="password" class="form-control"
                   ng-model="password" required />
        </div>
        <div class="text-center">
            <button ng-click="authenticate(username, password)"
                    ng-disabled="authForm.$invalid"
                    class="btn btn-primary">
                Войти
            </button>
            <a href="#/registration">Зарегистрироваться</a>
        </div>
    </form>
</div>

        <div class="alert alert-success" id="a-user-new" style="position:fixed;bottom:0;right:0;display:none;">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <strong>Поздравляем! </strong>
            Вы зарегистрировались, теперь введите логин и пароль.
        </div>
            <div class="alert alert-success" id="a-user-new" style="position:fixed;bottom:0;right:0;display:none;">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Поздравляем! </strong>
        Вы зарегистрировались, теперь введите логин и пароль.
    </div>
    <div class="alert alert-danger" id="a-user-password" style="position:fixed;bottom:0;right:0;display:none;">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Пароль! </strong>
        Неправильный, неправильный пароль!
    </div>
    <div class="alert alert-danger" id="a-user-user" style="position:fixed;bottom:0;right:0;display:none;">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Пользователь! </strong>
        Нет такого пользователя!
    </div>
