<div class="top-logo"><img src="images/logo.png"  /></div>
<div class="top-hat">
    Введите ваш логин и пароль чтобы войти в систему
</div>
<div class="well" ng-controller="authCtrl">

    <div class="alert alert-danger" ng-show="authenticationError">
        <span ng-if="authenticationError.status == 401">Неправильный логин или пароль. Попробуйте снова.</span>
        <span ng-if="authenticationError.status != 401">Не вышло войти в систему ({{authenticationError.status}}). Попробуйте снова.</span>
    </div>

    <div class="alert alert-success" id="regsuccess" style="position:fixed;bottom:0;right:0;display:none;">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Поздравляем! </strong>
        Вы успешно прошли регистрацию, а теперь войдите в личный кабинет
    </div>

    <form name="authForm" novalidate>
        <div class="form-group">
            <label class="la-16">Логин</label>
            <input name="username" class="form-control" ng-model="username" required />
        </div>
        <div class="form-group">
            <label class="la-16">Пароль</label>
            <input name="password" type="password" class="form-control"
                   ng-model="password" required />
        </div>
        <div class="text-center">
            <button ng-click="authenticate(username, password)"
                    ng-disabled="authForm.$invalid"
                    class="btn btn-primary ma-r-20">
                Войти
            </button>
            <a style="display:none;" href="#/registration" class="reg-link">Зарегистрироваться</a>
        </div>
    </form>
</div>

        <div class="alert alert-success" id="a-user-new" style="position:fixed;bottom:0;right:0;display:none;">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <strong>Поздравляем! </strong>
            Вы зарегистрировались, теперь введите логин и пароль.
        </div>
            <div class="alert alert-success" id="a-user-new" style="position:fixed;bottom:0;right:0;display:none;">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Поздравляем! </strong>
        Вы зарегистрировались, теперь введите логин и пароль.
    </div>
    <div class="alert alert-danger" id="a-user-password" style="position:fixed;bottom:0;right:0;display:none;">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Пароль! </strong>
        Неправильный, неправильный пароль!
    </div>
    <div class="alert alert-danger" id="a-user-user" style="position:fixed;bottom:0;right:0;display:none;">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Пользователь! </strong>
        Нет такого пользователя!
    </div>
