<nav class="navbar mynav" ng-controller="mainCtrl">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="images/logo.png"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>Привет, <span class="btn-link" ng-click="setScreen(3);">{{autoservice.name}}!</span></li>
            <li><span class="btn-link" ng-click="logout();" style="cursor:pointer;">Выход</span></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<div class="container-fluid" ng-controller="mainCtrl">
<div class="panel panel-default row">
    <div class="panel-body">
        <ul class="nav nav-tabs" id="navigation" role="tablist">
        <li role="presentation" ng-repeat="item in screens" ng-class="{'active': item == current }"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" ng-click="setScreen($index)"><i class="fa fa__text" ng-class="{'fa-gear': ($index == 1) , 'fa-plus': ($index == 0), 'fa-refresh': ($index == 2) }"></i>{{item}}</a></li>
        </ul>
       <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home"><div ng-include="getScreen()" /></div>
      </div>
    </div>
</div>
    <div class="alert alert-success" id="a-user-new" style="position:fixed;bottom:0;right:0;display:none;">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Поздравляем! </strong>
        Вы зарегистрировались, теперь введите логин и пароль.
    </div>
  </div>
  </div>
<style>
    .sortOrder:after{
        content: "\25b2";
    }
    .sortOrder.reverse:after{
        content: "\25bc";
    }
.main-panel.panel{
  border:none;
}
#navigation + .tab-content{
  border:1px solid #ddd;
}
.mynav .navbar-brand{
  padding:0;
}
.wrapper-part{
  padding-top:25px;
}
.input-xs {
    height: 27px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5; 
    }

.input-group-xs>.form-control,
.input-group-xs>.input-group-addon,
.input-group-xs>.input-group-btn>.btn {
    height: 27px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
}
.mynav{
  border-bottom: 2px solid #ddd;
}
.tabs-left{
  border-width:1px;
  border-style:solid;
}
.bottom-button{
  padding-top:15px;
}
.mynav li{
  padding:15px;
}
.mynav img{
  padding-top:2px;
  max-width:50px;
}
*{
  font-family:'Roboto';
  font-weight: 300;
}
.btn-icons{
  width:27px;
  height:27px;
  float:left;
}
.condensted{
    margin: 0px auto !important;
    max-width: 768px !important;
}
.partial-view{
  /*padding-top:25px;*/
}
.partial-view .panel{
  margin:25px auto;
}
.fa__text{
  padding-right:5px;
}
.active-buttons button{
    width:27px;
    height: 27px;
}
.header{
  padding:40px 0;
}
.autodescription .col-md-4{
  border-bottom:1px solid #ddd;
}
.autodescription .col-md-4 label{
  color: #c1c1c1;
}
ul.checkbox-grid{
  padding:0 15px;
}
*{
  font-family:'Roboto';
  font-weight: 300;
}
.active-buttons button{
    width:27px;
    height: 27px;
}
.fa__text{
  padding-right:5px;
}
.header{
  padding:40px 0;
}
.autodescription .col-md-4{
  border-right:1px solid #ddd;
  border-bottom:1px solid #ddd;
}
.autodescription .col-md-4 label{
  color: #c1c1c1;
}
.checkbox-grid li {
    display: block;
    float: left;
    width: 25%;
    position: relative;
}
.checkbox-grid li input{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 14px;
}
.checkbox-grid li label{
    padding-left: 18px;
    vertical-align: top;
    margin-top: -0.5px;
}
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
 border-left-color: #ffffff;
}
</style>
