<div class="container-fluid">
<div class="top-logo"><img src="images/logo.png"  /></div>
<div class="top-hat">
    <b>Восстановление пароля:</b> Введите ваш e-mail для восстановления пароля
</div>
<div class="well" ng-controller="authCtrl">

    <div class="alert alert-danger" ng-show="authenticationError">
        <span ng-if="authenticationError.status == 401">Неправильный логин или пароль. Попробуйте снова.</span>
        <span ng-if="authenticationError.status != 401">Не вышло войти в систему ({{authenticationError.status}}). Попробуйте снова.</span>
    </div>

    <div class="alert alert-success" id="a-user-email" style="position:fixed;bottom:0;right:0;display:none;">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Поздравляем! </strong>
        На указанную вами почту отправлен пароль.
    </div>

    <div class="alert alert-danger" id="a-user-noemail" style="position:fixed;bottom:0;right:0;display:none;">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Увы! </strong>
        Такой e-mail отсутсвует в системе
    </div>

    <form name="authForm" novalidate>
        <div class="form-group">
            <label class="la-16">E-mail</label>
            <input name="email" class="form-control" ng-model="email" type="email" required />
        </div>
        <div class="text-center">
            <button ng-click="restorepassword(email)"
                    ng-disabled="authForm.$invalid"
                    class="btn btn-primary ma-r-20">
                Отправить на почту
            </button>
            <a href="#/login" class="reg-link">Войти</a>
        </div>
    </form>
</div>
<div class="alert alert-success" id="a-user-new" style="position:fixed;bottom:0;right:0;display:none;">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong>Поздравляем! </strong>
    Вы зарегистрировались, теперь введите логин и пароль.
</div>
<div class="alert alert-success" id="a-user-new" style="position:fixed;bottom:0;right:0;display:none;">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong>Поздравляем! </strong>
    Вы зарегистрировались, теперь введите логин и пароль.
</div>
<div class="alert alert-danger" id="a-user-password" style="position:fixed;bottom:0;right:0;display:none;">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong>Пароль! </strong>
    Неправильный, неправильный пароль!
</div>
<div class="alert alert-danger" id="a-user-user" style="position:fixed;bottom:0;right:0;display:none;">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong>Пользователь! </strong>
    Нет такого пользователя!
</div>
</div>
